{% extends 'layout.twig' %}

{% block body %}{# page content goes here  #}
  <div class="four-oh-four-body">
    <h1 class="four-oh-four-hdr">Sorry, There Must Be Some Kind of Mistake
      <br>
      <span class="error-span">Error 404</span>
    </h1>
  </div>
{% endblock %}
