{% extends 'layout.twig' %} 

  {% block body %}{# page content goes here  #}
<h1 class="four-oh-four-hdr">Sorry, there must be some kind of mistake</h1>
<h1 class="error-hdr">Error 404</h1>
  {% endblock %}