{% extends 'layout.twig' %}

{% block body %}{# page content goes here  #}
  <div class="l-content">
    <div class="four-oh-four-body">
      <h1 class="four-oh-four-hdr">Sorry, There Must Be Some Kind of Mistake
        <span class="error-span">Error 404</span>
      </h1>
    </div> <!-- /four-oh-four-body -->
  </div> <!-- l-content -->
{% endblock body %}
