{% extends 'layout.twig' %}

{% block navbar %}
  {% include 'components/nav-bar.twig' %}
{% endblock %}


{# archive page layouts go here #}
{% block body %}

  {% block header %}
    <!-- <div class="archive-yellow-box"></div> -->
    <header class="l-archive-hdr-wrap l-page-hdr">
      <h1 class="archive-hdr">{{ title }}</h1>
    </header>
  {% endblock header %}

  {% block feed %}
    <section class="archive-feed-container">
      {# for each article in articles include tease component #}
      {% for post in posts %}
        {% include 'components/tease-full.twig' %}
      {% endfor %}
    </section>

    {% if pagination.pages|length %}
      {% include "/templates/components/pagination.twig" %}
    {% endif %}

  {% endblock feed %}


{% endblock body %}

{% block scripts %}{% endblock %}
