{% extends 'layout.twig' %}

{# archive page layouts go here #}
{% block body %}

  {% block header %}
    <div class="archive-yellow-box"></div>
    <header class="l-archive-hdr-wrap l-page-hdr">
      <h1 class="archive-hdr">News</h1>
    </header>
  {% endblock header %}

  {% block feed %}
    <section class="archive-feed-container">
      {# for each article in articles include tease component #}
      {% for i in 1..10 %}
        {% include 'components/tease-full.twig' %}
      {% endfor %}
    </section>
  {% endblock feed %}

{% endblock body %}

{% block scripts %}{% endblock %}
