{% extends "layout.twig" %}

{% set extra_body_class = home.get_zone(1)[0].thumbnail.src ? 'hp-tz-has-img' : 'hp-tz-no-img' %}


{% block navbar %}
  {% include 'components/nav-bar.twig' with { css_class: "site-header--hp" } %}
{% endblock %}


{% block body %}
  <div class="l-content">

    <!-- Homepage Zone A -->
    <!-- ===================================== -->
    {% block hp_zoneA %}
      <div class="l-hp-zone l-hp-zone--a">

        <!-- hp main feature -->
        <div class="hp-feat-mod">
          {% include "/templates/components/tease-hp-lead.twig" with { post: home.get_zone(1)[0], context_class: 'feat-lg', js_class: 'js-tz-h--feat-lg', css_class: home.get_zone(1)[0].thumbnail.src and home.get_zone(1)[0].is_feature ? 'tz-hp-feat--main tz-hp-feat--main-img' : 'tz-hp-feat--main' } %}
        </div>

        <!-- hp top -->
        <div class="hp-top-mod">
          <div class="l-zone-dos--rule">

            <!-- top featured stories -->
            <div class="grid-item">
              <div class="hp-top-feat-mod">
                {% for post in home.get_zone(1)|slice(1) %}
                  {% if loop.index == 1 %}
                    {% include "/templates/components/tease-hp-regular.twig" with { context_class: "reg-lg", css_class: 'tz-hp-reg' } %}
                  {% else %}
                    {% include "/templates/components/tease-hp-regular.twig" with { context_class: "reg-lg", css_class: 'tz-hp-reg', hide_image: true } %}
                  {% endif %}
                {% endfor %}
              </div> <!-- /hp-zone1-feat-mod -->
            </div> <!-- /grid-item -->

            <!-- /latest news feed -->
            <div class="grid-item">
              {% if latest_posts|length %}
                {% include "/templates/components/tease-list-latest.twig" %}
              {% endif %}
            </div> <!-- /grid-item -->

          </div> <!-- /l-zone-dos--rule -->
        </div> <!-- /hp-latest-mod -->
      </div> <!-- /l-hp-zone -->

    {% endblock hp_zoneA %}


    <!-- Homepage Zone Special Reports -->
    <!-- ===================================== -->
    {% block hp_reports %}
      <div class="l-hp-zone">
        <div class="l-zone-dos l-hp-zone--reports">
          {% for report in special_reports %}
            {% if report.slug in ['higher-education', 'common-core', 'blended-learning', 'mississippi-learning'] %}
              <div class="grid-item">
                <div class="hp-special-tz">
                  {% include "templates/components/tease-hp-report.twig" with { report:report } %}
                </div> <!-- /hp-special-tz -->
              </div> <!-- /grid-item -->
            {% endif %}
          {% endfor %}
        </div> <!-- /l-zone-dos -->
      </div> <!-- l-hp-zone l-hp-zone--reports" -->
    {% endblock hp_reports %}


    <!-- Homepage Zone B -->
    <!-- ===================================== -->
    {% block hp_zoneB %}
      <div class="l-hp-zone l-hp-zone--b">
        <div class="hp-zone--top">
          {% set z2_posts = home.get_zone(2) %}
          <div class="{{ home.z2_has_image ? 'l-zone-dos--art' : 'l-zone-tres--rule' }}">
            {% for post in z2_posts %}
              <div class="grid-item {{ loop.index == 2 and post.thumbnail.src ? 'extra-grid-item' }}">
                {% include "/templates/components/tease-hp-stub.twig" with { context_class: 'stub-lg', css_class: 'tz-hp-stub', hide_image: loop.index != 2 ? true : false } %}
              </div>
            {% endfor %}
          </div> <!-- /l-zone-dos--art -->
        </div> <!-- /hp-zone--top -->
        {# END ZONE 2 #}


        <!-- Zone 2 Quote -->
        {% if z2_quote|length %}
          <div class="hp-zone--middle">
            {% include "/templates/components/tease-special.twig" with { quote: z2_quote, show_stat: z2_quote.show_stat, css_class: 'tz-special-stat tz-special' } %}
          </div>
        {% endif %}


        {#  ZONE 3 BOTTOM WITH IMAGE #}
         <div class="hp-zone--bottom">
          <div class="l-zone-tres--art">
            {% for post in home.get_zone(3)|slice(0,4) %}
              <div class="grid-item {{ loop.index == 2 and post.thumbnail.src ? 'extra-grid-item' : '' }}">
                {% include "/templates/components/tease-hp-stub.twig" with { context_class: 'stub-med', hide_image: loop.index == 2 and post.thumbnail.src ? false : true } %}
              </div> <!-- /grid-item -->
            {% endfor %}
          </div> <!-- /l-zone-cuatro--rule -->
        </div> <!-- /hp-zone-bottom -->
        {#  END ZONE 2 BOTTOM WITH IMAGE #}



      </div> <!-- /l-hp-zone -->
    {% endblock hp_zoneB %}


    <!-- Homepage Featured -->
    <!-- ===================================== -->
    {% block hp_zone_feat %}
      <div class="l-hp-zone l-hp-zone--feat">
        {% include "/templates/components/tease-hp-second-feat.twig" with { feature: second_feature } %}
      </div> <!-- /l-hp-zone--feat -->
    {% endblock hp_zone_feat %}


    <!-- Homepage Zone C -->
    <!-- ===================================== -->
    {% block hp_zoneC %}
      <div class="l-hp-zone l-hp-zone--c">

        <!-- Zone 3 Top -->
        <div class="hp-zone--top">
            <div class="l-zone-dos--split">

              <!-- Zone 3 Top Left side -->
              <div class="top-grid-item top-grid-item--left">
                {% include "/templates/components/tease-hp-regular.twig" with { post: home.get_zone(4)[0], context_class: 'reg-med'} %}
              </div> <!-- /top-grid-item -->

              <!-- Zone 3 Top Right side -->
              <div class="top-grid-item top-grid-item--right">
                <div class="l-zone-dos--split-inside">
                  {% for post in home.get_zone(4)|slice(1,2) %}
                    <div class="grid-item">
                      {% include "/templates/components/tease-hp-regular.twig" with {context_class: 'reg-med', hide_image: true } %}
                    </div> <!-- /grid-item -->
                  {% endfor %}
                </div> <!-- /l-zone-dos--split-inside -->

                {% if z3_quote|length %}
                  <div class="top-grid-item--right-lower">
                    <div class="hp-zone--middle">
                      {% include "/templates/components/tease-special.twig" with { quote: z3_quote, show_stat: z3_quote.show_stat, css_class: 'tz-special-stat tz-special' } %}
                    </div>
                  </div> <!-- /grid-item-lower -->
                {% endif %}

              </div> <!-- /top-grid-item top-grid-item--right -->
            </div> <!--/l-zone-dos--split -->
        </div> <!-- /hp-zone--top -->

        <!-- Zone 3 Bottom -->
        <div class="hp-zone--bottom">
          <div class="l-zone-tres--rule">
            {% for post in home.get_zone(4)|slice(3,3) %}
              <div class="grid-item {{ loop.index > 1 ? 'sub-grid-item' }}">
                {% include "/templates/components/tease-hp-regular.twig" with { context_class: 'reg-med', hide_image: true } %}
              </div>
            {% endfor %}
          </div> <!-- /l-zone-tres -->
        </div> <!-- /hp-zone--bottom -->

      </div> <!-- /l-hp-zone -->
    {% endblock hp_zoneC %}

  </div> <!-- /l-content -->

{% endblock body %}

{% block scripts %}
    <script type="text/javascript" src="/wp-content/themes/hechinger/static/vendor/FitText.js/jquery.fittext.js"></script>
    <script type="text/javascript" src="/wp-content/themes/hechinger/static/js/home.js"></script>
{% endblock %}
