{% extends 'layout.twig' %}

{% block body %}{# page content goes here  #}

  <!-- To do -->
  <!--
        1. Using namespaced components from the Article page here is confusing.
        2. Examine how other pages are doing headers, content areas, etc and make more similar.
  -->

  {% block page_header %}
    <div class="page-hdr">
      <div class="page-hdr-inner">
        <div class="page-hdr-top">
          <h4 class="page-hdr-topic">
            <a class="page-topic-link" href="#">About</a>
          </h4>

          {% block page_header_social %}
            <div class="article-social-container">
                {% include "/templates/components/article-social.twig" %}
            </div> <!-- /article-social-container-->
          </div> <!-- /page-hdr-top -->
        {% endblock %} {# /page_header_social #}

        <div class="page-hdr-h">
          <h1 class="page-h">Awards</h1>
          <h2 class="page-sub-h">We cover the issues we cover because we believe in them, but our reporting is often recognized by our peers. We appreciate it.</h2>
        </div> <!-- /page-hdr-h -->
      </div> <!-- /page-hdr-inner -->
    </div> <!-- /page-hdr -->
  {% endblock %} {# /page_header #}

  <div class="page-content">
    <div class="page-content-inner">
      <h4 class="page-category-h">2013</h4>
      <h3 class="page-category-sub-h">Winner, Online-Feature</h3>
      <p class="page-body-text">
        Newswomen’s Club of New York Front Page Awards<br>Sarah Garland, “In Remote Alaskan Villages, Teachers Struggle to Make School Meaningful”
      </p>
      <h3 class="page-category-sub-h">Winner, Newspaper In-Depth Reporting</h3>
      <p class="page-body-text">
        Newswomen’s Club of New York Front Page Awards<br>Jackie Mader, “Literacy and STEM Education in Mississippi”
      </p>
      <h3 class="page-category-sub-h">Winner, Internet Continuing Coverage</h3>
      <p class="page-body-text">
         The New York Press Club Journalism Awards<br>Sarah Carr, Sarah Garland, Liz Willen, “Mississippi Learning”
      </p>
    </div> <!-- /page-content-inner -->
  </div> <!-- /page-content -->

{% endblock %} {# /body #}
