{% extends "layout.twig" %}

{% block body %}

  <!-- search hdr -->

  <div class="search-bar-wrap">
    <form id="searchform" method="get" action="/">
      <input class="search-page-text-input" type="text" name="s" id="s" size="15" placeholder="{{ query ? query : 'Search' }}" />
      <input class="search-page-submit-button" type="submit" value="" />
    </form>
  </div>

<div class="l-search-results">
  <div class="search-results-inner">

  {% if count > 0 %}
    <h3 class="results-number">{{ count }} Results for '{{ query }}'</h3>
  {% else %}
    <h2 class="no-results">Sorry, we couldn’t find any results for your search.<h2>
  {% endif %}

  {% for post in posts %}
    {% include "/templates/components/tease-full.twig" %}
  {% endfor %}

  </div>
</div>

  {% include "/templates/components/pagination.twig" %}

{% endblock %}
