/* line 3, ../scss/hechinger-admin.scss */
.mce-i-pullquote:before {
  font-family: "dashicons";
  content: "\f101";
  font-size: 20px;
}

/* line 9, ../scss/hechinger-admin.scss */
.mce-i-aside:before {
  font-family: "dashicons";
  content: "\f222";
  font-size: 20px;
}

/* line 15, ../scss/hechinger-admin.scss */
.mce-i-related:before {
  font-family: "dashicons";
  content: "\f310";
  font-size: 20px;
}

/* line 21, ../scss/hechinger-admin.scss */
.taxonomy-underwriter .term-slug-wrap, .taxonomy-underwriter .term-parent-wrap, .taxonomy-underwriter .term-description-wrap, .taxonomy-underwriter .term-name-wrap p {
  display: none;
}
