// --------------------------------------------
// --------------------------------------------
//
// Article quote
//
// --------------------------------------------
// --------------------------------------------

.article-quote {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 17px;
  border-top: 8px solid black;
  @include mq($bp-aside) {
    float: left;
    clear: left;
    max-width: $aside-max;
    margin-right: $site-margin;
    border-top-width: 15px;
  }
  @include mq($bp-aside-negative-margin) {
    margin-left: -$site-margin;
  }

  @include mq($desktop) { margin-left: -($site-margin*2); }
}

.article-quote-h {
  font-family: $he-serif;
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 1.291666667;   // 31/24
  color: black;
}

.article-quote-attr {
  margin-left: 0;
  font-family: $he-sans;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: 11px;
}

.article-quote-desc {
  margin-top: 0;
  margin-left: 0;
  font-family: $he-sans;
  font-size: 12px;
  line-height: 1.25;
}

.new-pullquote {
  // new pull quote styles go here
}
