// --------------------------------------------
// --------------------------------------------
//
// Article Partner
//
// --------------------------------------------
// --------------------------------------------

.partner-aside {
  @include pie-clearfix;
  padding: 10px 15px 18px;
  max-width: 550px;
  margin: 15px -5px;
  background-color: $ui-bg-color;

  @include mq($bp-small) {
    float: right;
    clear: right;
    width: 180px;
    padding: 15px 10px;
    margin-left: 25px;
    margin-right: auto;
    border-top: 5px solid $black;
    background-color: transparent;
  }
  @include mq($bp-medium) {
    width: 220px;
  }
}


.aside-partner-logo {
  display: inline-block;
  position: relative;
  width: 80%;
  max-width: 125px;
  margin-bottom: 5px;
  color: #fff;

  @include mq(820px) {
    max-width: 150px;
    margin-bottom: 10px;
  }
}


.aside-partner-img { }


.aside-partner-text {
  font-family: $he-sans;
  font-style: italic;
  font-size: 13px;
  line-height: 120%;
}
