// --------------------------------------------
// --------------------------------------------
//
// Related Aside Styles
//
// --------------------------------------------
// --------------------------------------------


.article-text {

  .aside-hdr {
    @include accent-header;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 3px solid black;
  }

  .related-aside { }

  .aside-related-items { }

  .aside-related-item {
    @include sans;
    font-size: 18px;
    line-height: 112%;
    position: relative;
    margin-bottom: 0.85em;
  }

  .aside-related-item-hdr {
    padding-left: 1em;
  }

  .aside-related-highlight {
    background-color: $he-main;
    padding: 0.085em 0.294117647em;
  }

  .aside-related-item-link {
    @include head-link;
    @include bullet(before, $he-main);
    color: black;

    &:before { left: -1.05em; }

    &:visited { color: black; }

    &:hover { text-decoration: underline; }

    // highlight headline
    em, b, strong {
      @include head-highlight;
      font-size: 1em;
    }

  }

}
