// --------------------------------------------
// --------------------------------------------
//
// Article images
//
// --------------------------------------------
// --------------------------------------------

.media-mod { }


.img-container {
  @extend %bleeding-container;
  > img { }
}


.img-caption {
  @include sans-bold;
  margin: 10px $site-margin 40px;
  font-size: 14px;
  line-height: 1.285714286;   // 18/14
  color: black;

  @include mq($bp-img-no-bleed) {
    margin-right: 0;
    margin-left: 0;
  }

  .alignleft & { margin-left: $site-margin; }
}


.img-caption-text { }


.img-byline {
  color: $black-30;
  font-weight: $font-weight-lt;
}


.article-text img.size-full { height: auto; }

img.alignright,
img.alignleft {
  height: auto;
}
