// --------------------------------------------
// --------------------------------------------
//
// Related Aside Styles
//
// --------------------------------------------
// --------------------------------------------

.related-aside { }

.aside-related-items { }

.aside-related-item {
  padding-left: 1em;
  position: relative;
  font-family: $he-sans;
  font-size: 17px;
  line-height: 1.294117647;   // 22/17
  @include bullet(before, $he-main);
  & + & { margin-top: 0.85em; }
}

.aside-related-item-hdr {
}

.aside-related-highlight {
  @extend %head-highlight;
}

// nesting to override body text styles...
.aside-related-item .aside-related-item-link {
  @include head-link;
  color: $hdr-color;
  &:visited, &:hover, &:active {
    color: $hdr-color;
  }
  &:hover {
    text-decoration: underline;
  }
  em, b, strong {
    @extend %head-highlight;
  }
}
