// --------------------------------------------
// --------------------------------------------
//
// Article Header
//
// --------------------------------------------
// --------------------------------------------
.article-hdr {
  @extend %bp-trans;
  // max-width: $content-max-width;
  // padding: 30px 50px;
  padding: 0 $site-margin;
  // background-color: #fff;
  border-top: 2px solid transparent;
  // margin: 30px auto 40px auto;
  margin: 0 auto 40px auto;
  @include bp(800px) {
    padding-top: 30px;
    border-top-color: #000;
    background-color: #fff;
  }
  @include bp(960px) {
    // border-top-color: black;
    // padding-top: 30px;
    // background-color: #fff;
  }

  // * + * { margin-top: 40px; }
}

.article-hdr-inner {
  @extend %bp-trans;
  // max-width: 880px;
  margin: 0 auto;
  max-width: $content-max--inner;
  @include bp(960px) { margin-top: 0; }

  &.articleFeat-hdr-inner { max-width: 100%; }
}

.article-hdr-topic {
  @extend %topic-hdr;
  font-size: 24px;
  // font-family: $he-serif;

}

.article-topic-link {
  @extend %head-link;
}

.article-h {
  font-weight: 700;
  font-size: 52px; // 30/33
  color: black;
  line-height: 1.057692308;
  letter-spacing: -2px;
}

.article-sub-h {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.272727273;
}


.article-hdr-meta-container {
  @include pie-clearfix;
  // border-top: $border-thin;
  padding-top: 10px;
  font-size: 11px;
}

.article-hdr-meta {
  @include pie-clearfix;
  padding-top: 10px;

  // this contextual class is used when the story is a column
  // giving enough left margin for the column sig
  .article-hdr-column & {
    margin-left: 58px;
  }
}

.article-hdr-meta-inner {
  border-top: $bdr-thin;
  margin-top: 1px;
  padding-top: 10px;

  // this contextual class decreases the top padding
  // when the story is a column
  .article-hdr-column & {
    padding-top: 1px;
  }
}

.article-hdr-middle {
  * + * { margin-top: 10px; }
}

.article-hdr-top,
.article-hdr-h {
  margin-bottom: 40px;
}

.article-byline {
  float: left;
  display: inline-block;
}

.article-author {
  font-weight: 900;
  margin-left: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}

.article-date {
  float: right;
  display: inline-block;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.article-column-img {
  float: left;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $he-secondary;
  overflow: hidden;
}

.article-column-title {
  font-family: $he-serif;
  font-size: 13px;
  font-weight: $font-weight-bold;
  color: black;
}


// --------------------------------------------
// --------------------------------------------
//
// Article Feature Header
//
// --------------------------------------------
// --------------------------------------------
.articleFeat-mod {
  position: relative;
  margin-top: -40px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #fff;
  width: 80%;
  max-width: 800px;
}

.articleFeat-h {
  font-size: 72px;
  font-style: italic;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
}

%article-bd-margin {
  margin-right: auto;
  margin-left: auto;
  @include mq(700px) {
    margin-right: 0;
    margin-left: 0;
  }
}
