// --------------------------------------------
// --------------------------------------------
//
// Article Feature Header
//
// --------------------------------------------
// --------------------------------------------

.article-feat-mod {
  position: relative;
  padding-top: 20px;

  @include mq($bp-medium) {
    margin-top: 20px;
    padding-right: 20px;
  }
}


.article-feat-mod--has-img {
  margin-top: -40px;
  background-color: #fff;
  max-width: 800px;

  @include mq($bp-medium) {
    width: 80%;
  }
}


.article-feat-h {
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;

  @include mq($bp-medium-plus) { font-size: 72px; }
}
