// --------------------------------------------
// --------------------------------------------
//
// Article Header
//
// --------------------------------------------
// --------------------------------------------

.article-hdr {
  @extend %bp-trans;
  padding: 0 $site-margin;
  border-top: 2px solid transparent;
  margin: 0 auto 40px auto;

  @include mq($bp-medium-plus) {
    padding-top: 30px;
    border-top-color: #000;
    background-color: #fff;
  }
}


.article-hdr-feat {
  padding: 0;
  margin-top: -45px;
  border-top: none;

  @include mq($bp-medium) {
    margin-top: -80px;
  }

  @include mq($bp-large) {
    padding: 15px 15px 0;
  }
}


.article-hdr-inner {
  @extend %bp-trans;
  margin: 0 auto;

  @include mq($bp-large-plus) {
    margin-top: 0;
  }

  &.article-feat-hdr-inner { max-width: 100%; }
}


.article-hdr-topic {
  @include accent-header-underline;
  font-size: 20px;
  margin-right: 3px;
  // margin makes sure it doesn't crash
  // into adjacent share tools
}


.article-topic-link {
  @include head-link;
}


.article-h {
  @include sans-bold;
  font-size: 36px;
  line-height: 1.057692308;
  letter-spacing: -2px;
  padding-bottom: 15px;
  // margin-bottom: 15px;
  color: #000;

  @include mq($article-bd-max) {
    font-size: 46px;
  }
  @include mq($bp-medium-plus) {
    font-size: 52px;
  }
  @include mq($bp-large) {
    font-size: 58px;
  }
}


.article-sub-h {
  @include sans(italic);
  font-weight: 400;
  font-size: 21px;
  line-height: 1.272727273;
  // margin-top: 10px;
  // margin-top: 15px;
  color: #222;
  margin-top: 16px;
  max-width: 775px;
  @include mq($bp-small) {
    font-size: 22px;
  }
  @include mq($bp-large) {
    font-size: 24px;
  }

}


.article-hdr-meta-container {
  @include pie-clearfix;
  // padding-top: 10px;
  font-size: 11px;
  font-size: 13px;
}


.article-hdr-meta {
  @include pie-clearfix;
  padding-top: 10px;

  // this contextual class is used when the story is a column
  // giving enough left margin for the column sig
  .article-hdr-column & { margin-left: 58px; }
}


.article-hdr-meta-inner {
  border-top: $bdr-thin;
  margin-top: 1px;
  padding-top: 10px;

  // this contextual class decreases the top padding
  // when the story is a column
  .article-hdr-column & {
    // padding-top: 1px;
    padding-top: 3px;
  }
}


.article-hdr-middle {
  * + * { margin-top: 10px; }
}



.article-hdr-top,
.article-hdr-h {
  // margin-bottom: 40px;
  margin-bottom: 12px;
}

.article-hdr-top {
  margin-bottom: 10px;
  .article-hdr-feat & {
    margin-bottom: 0;
  }
}


.article-hdr-h {
  margin-bottom: 30px;
  @include mq($bp-small) {
    margin-bottom: 40px;
  }
  @include mq($bp-medium-plus) {
    margin-bottom: 50px;
  }
}


.article-byline {
  float: left;
  display: inline-block;
}


.article-author {
  // font-weight: 900;
  font-weight: 700;
  margin-left: 1px;
  text-transform: uppercase;
  // letter-spacing: 1px;
  color: $black;
  text-decoration: none;
}


.article-date {
  float: right;
  display: inline-block;
  margin-top: 0;
  font-weight: 700;
  // text-transform: uppercase;
}


.article-column-img {
  @extend %columnist-img;
  float: left;
}

.article-column-title {
  padding-bottom: 2px;
}

.column-author-link {
  @include serif-black;
  text-decoration: none;
  // font-size: 13px;
  font-size: 14px;
  color: $hdr-color;
  &:hover { text-decoration: underline; }
}


%article-bd-margin {
  margin-right: auto;
  margin-left: auto;

  @include mq(700px) {
    margin-right: 0;
    margin-left: 0;
  }
}


.article-img-lead {
  max-width: 700px;
}
