// --------------------------------------------
// --------------------------------------------
//
// Article Header
//
// --------------------------------------------
// --------------------------------------------

.article-hdr {
  @extend %bp-trans;
  // max-width: $content-max-width;
  padding: 0 $site-margin;
  border-top: 2px solid transparent;
  margin: 0 auto 40px auto;
  @include mq(800px) {
    padding-top: 30px;
    border-top-color: #000;
    background-color: #fff;
  }
}


.article-hdr-feat {
  padding: 15px 15px 0;
  margin-top: 25px;
  @include mq(600px) {
    margin-top: -80px;
  }
}


.article-hdr-inner {
  @extend %bp-trans;
  margin: 0 auto;
  // max-width: $content-max--inner;
  @include mq(960px) { margin-top: 0; }

  &.article-feat-hdr-inner { max-width: 100%; }
}


.article-hdr-topic {
  @include accent-header-underline;
  // font-size: 24px;
  font-size: 20px;
}


.article-topic-link {
  @include head-link;
}


.article-h {
  @include sans-bold;
  font-size: 36px;
  line-height: 1.057692308;
  letter-spacing: -2px;
  color: black;

  @include mq($article-bd-max) {
    font-size: 52px;
  }
}


.article-sub-h {
  @include sans(italic);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.272727273;
  margin-top: 10px;
}


.article-hdr-meta-container {
  @include pie-clearfix;
  padding-top: 10px;
  font-size: 11px;
}


.article-hdr-meta {
  @include pie-clearfix;
  padding-top: 10px;

  // this contextual class is used when the story is a column
  // giving enough left margin for the column sig
  .article-hdr-column & {
    margin-left: 58px;
  }
}


.article-hdr-meta-inner {
  border-top: $bdr-thin;
  margin-top: 1px;
  padding-top: 10px;

  // this contextual class decreases the top padding
  // when the story is a column
  .article-hdr-column & {
    padding-top: 1px;
  }
}


.article-hdr-middle {
  * + * { margin-top: 10px; }
}


.article-hdr-top,
.article-hdr-h {
  margin-bottom: 40px;

  .article-hdr-feat & { margin-bottom: 0; }
}


.article-byline {
  float: left;
  display: inline-block;
}


.article-author {
  font-weight: 900;
  margin-left: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}


.article-date {
  float: right;
  display: inline-block;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
}


.article-column-img {
  @extend %columnist-img;
  float: left;
}


.article-column-title {
  @include serif-bold;
  font-size: 13px;
  color: $hdr-color;
}


%article-bd-margin {
  margin-right: auto;
  margin-left: auto;
  @include mq(700px) {
    margin-right: 0;
    margin-left: 0;
  }
}

.article-img-lead {
  max-width: 700px;
}
