// --------------------------------------------
// --------------------------------------------
//
// ftr Layout
//
// --------------------------------------------
// --------------------------------------------

.site-ftr {
  @include pie-clearfix;
  padding-top: 35px;
  background-color: $he-main;

  @include mq($bp-medium) { padding-top: 175px; }
}


.ftr-top {
  @include pie-clearfix;
  position: relative;
  margin-bottom: $space-grid--half;
  padding-bottom: $space-grid;

  @include mq($bp-medium) {
    margin-bottom: $space-grid;
    padding-bottom: 0;
  }
}


.ftr-bottom {
  @include pie-clearfix;
  padding: 20px 0;
  background-color: $black;
}


// figure out rule
.l-ftr-info {
  margin-top: $space-grid--half;

  @include mq($bp-medium) { margin-top: $space-grid;}
  @include mq($bp-medium, $bp-medium-plus) {
     @include media-grid(2, 50px, '.grid-item');
  }

  @include mq($bp-medium-plus) {
    @include media-grid(2, 60px, '.grid-item');
    .grid-item {
         &:after {
            position: absolute;
            content: '\0020';
            top: 0;
            bottom: 0;
            right: -30px;
            width: 1px;
            background-color: $black-80;
          }
        &:nth-child( 2n +2 ) { &:after { background-color: transparent; } }
      }
  }
}


.l-ftr-partners {
  @include mq($bp-medium, max) { @include media-grid(4, 25px); }
  @include mq($bp-medium, $bp-medium-plus) { @include media-grid(2, 25px); }
  @include mq($bp-medium-plus) { @include media-grid(4, 25px); }
  .media-block {
    max-width: 125px;
    margin-top: 10px;
  }
}





// --------------------------------------------
// --------------------------------------------
//
// Footer Styles
//
// --------------------------------------------
// --------------------------------------------

.ftr-logo-mod {
  @include pie-clearfix;
  border-bottom: 1px solid $black-80;
  padding-bottom: 25px;

  @include mq($bp-medium) { margin-bottom: 50px; }

}


.ftr-logo-container {
  display: block;
  width: 90%;
  max-width: 300px;

  @include mq($bp-medium) {
    float: left;
    margin: 0;
  }
}


.ftr-social-container {
  @include pie-clearfix;
  position: absolute;
  bottom: 10px;
  display: block;
  text-align: center;

  @include mq($bp-medium) {
    position: static;
    float: right;
    margin: 0;
  }
}


.social--ftr {
  display: inline-block;
  text-align: center;
}


.ftr-hdr {
  @include accent-header;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 19px;
  color: $black;
  line-height: 1;
  border-bottom: 4px solid black;
  padding-bottom: 5px;

  @include mq($bp-medium, max) { margin-bottom: 10px; }
}


.ftr-grid-item {
  @include mq($bp-medium, max) {
    margin-bottom: 50px;
  }
}


.ftr-text {
  @include sans(italic);
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.318181818;
  color: $black;

  @include mq($bp-medium) { font-size: 22px; }

  @include mq($bp-medium, max) { margin-bottom: 3px; }
}


.ftr-link-black {
  @include bullet(after);
  @include sans-bold;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  color: $black;
  text-decoration: none;
}


.site-nav-copyright {
  width: 88%;
  max-width: 960px;
  margin: auto;
}


.ftr-site-nav {

  @include mq(717px) {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}


.l-ftr-nav {
  @include mq(500px, max) {
    @include media-grid(2, 20px, '.ftr-nav-item');
  }

  @include mq(500px, $bp-large) {
    @include media-grid(3, 20px, '.ftr-nav-item');
  }
  @include mq($bp-large) { display: inline-block; }
}


.ftr-nav-items {
  @include pie-clearfix;
  text-align: left;
  &:first-child { margin-left: 0; }
}


.ftr-nav-item {
  text-transform: uppercase;
  &:first-child { margin-left: 0; }
  margin-bottom: 20px;

  @include mq($bp-large) {
    float: left;
    margin-left: 25px;
    margin-bottom: 0;
    text-align: center;
  }

  @include mq($bp-desktop) { margin-left: 35px; }
}


.ftr-nav-link {
  display: block;
  @include sans-bold;
  font-size: 13px;
  color: $black-20;
  text-decoration: none;
  letter-spacing: 1px;

  &:hover { text-decoration: underline; }

  @include mq($bp-large) {
      font-size: 14px;
  }

}


.ftr-copyright-msg {
  @include sans;
  font-size: 11px;
  color: $black-40;
  width: 100%;
  margin: 15px auto auto;
  float: left;
  text-align: center;
}





// --------------------------------------------
// --------------------------------------------
//
// Footer Promo
//
// --------------------------------------------
// --------------------------------------------

.ftr-promo-mod {
  position: relative;
  z-index: 100;
  margin-bottom: 25px;
  @include mq($bp-medium) {
    margin-bottom: -100px;
  }
}


.ftr-promo-outer {
  background-color: #fff;
  @include mq($bp-medium) { padding: 20px; }
}
