// --------------------------------------------
// --------------------------------------------
//
// Header
//
// --------------------------------------------
// --------------------------------------------

.site-header {
  width: 100%;
  background-color: $he-main;
  padding-bottom: 45px;
  @include mq($medium) { padding-bottom: 115px; }
  @include mq($large) { padding-bottom: 130px; }
}


.site-header--no-pad {
  background-color: transparent;
  padding-bottom: 0;
}


.site-header--hp {
  @include mq($large) { padding-bottom: 250px; }
}





// --------------------------------------------
// --------------------------------------------
//
// Nav
//
// --------------------------------------------
// --------------------------------------------

$logo-ht-sm:    34px;
$logo-ht-lg:    53px;


.l-nav-mod {
  @include pie-clearfix;
  @include mq($medium, max) {
    background-color: $he-main;
  }
  @include mq(800px, max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.l-nav-wrap {
  max-width: $content-max;
  @include pie-clearfix;
  @include mq($has-margin) { margin: 0 $site-margin; }
  @include mq($no-content-margin) { margin: 0 auto; }
  @include mq($medium) {
    font-size: 21px;
    // height: 66px;
  }
}


.nav-logo {
  display: inline-block;
  padding: 8px 8px 8px;
  background-color: $black;
  @include mq($medium) {
    float: left;
    display: block;
    padding: 14px 14px 14px;
  }
}


.nav-site-h {
  color: $white;
  width: 195px;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include mq($medium) {
    width: 269px;
  }
}


.nav-sub-h {
  float: left;
  display: none;
  padding: 0 18px;
  font-family: $he-sans;
  font-weight: $font-weight-lt;
  font-size: 17px;
  line-height: $logo-ht-sm;
  @include mq($large) {
    display: block;
    line-height: $logo-ht-lg;
  }
}


.nav-logo-img {
  &.logo-fallback { display: none; }

  // Browsers that do not support svg will render the png version of the logo
  .no-svg & {
    display: none;
    &.logo-fallback { display: block; }
  }
}


.nav-item-wrap {
  display: none;
  @include mq($medium) {
    position: relative;
    float: right;
    display: initial;
  }
}


.nav-is-open {
  padding-bottom: 30px;
  .nav-item-wrap {
    display: initial;
  }
  .search-form-wrap {
    display: block;

    // hides search on results pages.
    .search & { display: none; }
  }
}


.nav-item {
  display: block;
  float: left;
  width: 77px;
  border-top: 9px solid transparent;
  line-height: $logo-ht-lg - 15px;
  @include sans;
  font-size: 17px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;

  &:not(:first-child) { margin-left: 15px; }

  // The focus makes the border remain on the search icon
  // until you click somewhere else on the page
  &:hover, &:focus {
    border-top: 9px solid $black;
  }
  // &:hover { border-top: 9px solid $black; }
}


.nav-topics-link {
  display: none;

  @include mq($medium) { display: block; }

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 77px;
    height: 30px;
  }
  &:focus ~ .nav-topics-list,
  &:hover ~ .nav-topics-list {
    display: block;
  }
}


.nav-topics-list {
  z-index: 2;
  // padding-left: 24px;
  background-color: $he-main;

  @include mq($medium, max) {
    margin-top: 20px;
  }

  @include mq($medium) {
    display: block;
    position: absolute;
    // top: 74px;
    top: 60px;
    left: -50%;
    // margin-left: -12px;
    display: none;
    padding: 10px 25px 2px;
    // width: 320px;
    width: 290px;
    background-color: $black;

    // Fix for search results page, accounting for the lack of search icon
    // in the nav
    .search & {
      margin-left: -21px;
    }
  }

  &:hover, &:focus { display: block; }

  &:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -12px;
    display: block;
    @include triangle('up', 12px, $black);
  }
}


.nav-sub-item {
  position: relative;
  cursor: pointer;
  & + & {
    @include mq(600px) {
       border-top: 1px solid $black-50;
    }
  }

  &:hover {
    .nav-sub-item-link { @include bullet(after, $he-main); }
    @include mq(600px, max) {
      .nav-sub-item-link { @include bullet(after, white); }
    }
  }

  @include mq($medium) {
    line-height: 50px;
  }

}


.nav-sub-item-link {
  position: relative;
  display: inline-block;
  @include sans-bold;
  color: $black;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -1px;
  text-decoration: none;

  //TODO: give current page an underline
  &.is-current-page:after{ }

  @include mq($medium) {
    font-weight: $font-weight-lt;
    color: $white;
    font-size: 20px;
    letter-spacing: 0;
  }

}


.sub-about-item {
  margin: 20px 0 10px;
  @include mq($medium) {
    display: none;
  }
}


// Question: What is this for?
// What state or situation?
// .nav-sub-bullet {
//   @include bullet(after);
//   display: none;
//   margin-left: 5px;
//   position: relative;
//   color: $he-main;

//   &:after { position: relative; }
//   @include mq($medium) {
//     display: initial;
//   }
// }


.all-topics-link {
  color: $white;

  @include mq($medium) {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black-50;
  }
}


.nav-about-link {
  display: none;
  @include mq($medium) { display: block; }
}


.nav-search-button {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  &.is-open { }
  &.is-search-page {
    pointer-events: none;
    border-top: 9px solid $black;
    display: none;
  }
  @include mq($medium) { display: block; }
  .icon { top: 9px; }
}

.nav-search-inactive {
  display: block;
  .is-open & { display: none; }
}

.nav-search-active {
  display: none;
  font-weight: $font-weight-bold;
  .is-open & { display: block; }
}


.nav-menu-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0 14px;
  font-family: $he-sans;
  font-size: 17px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  line-height: $logo-ht-sm;

  @include mq($medium) { display: none; }
}


.nav-menu-active {
  display: none;
  width: 45px;
  border: 1px solid black;
  line-height: $logo-ht-sm - 10px;
  padding: 0 5px;
  font-weight: $font-weight-bold;
  position: relative;
  top: 5px;
  .nav-is-open & { display: block; }
}

.nav-menu-inactive {
  .nav-is-open & { display: none; }
}


.search-form-wrap {
  @include mq($has-margin) { margin: 0 $site-margin; }
  @include mq($no-content-margin) { margin: 0 auto; }
  display: none;
  position: relative;
  // width: 90%;
  margin: 0 auto;

  @include mq($medium) {
    display: none;
    position: relative;
    max-width: $content-max;
    // margin: 31px auto 0;
    margin-top: 31px;
    &.is-open { display: block; }
  }

}


.search-text-input {
  width: 100%;
  height: 60px;
  border: none;
  padding: 0 0 0 10px;
  background-color: $black;
  color: $black-10;
  @include sans-bold;
  font-size: 30px;
  -webkit-appearance: none;

  &:focus { outline: none; }

  @include mq($medium) {
    height: 90px;
    padding: 0 0 0 30px;
    font-size: 40px;
  }
}


.search-submit-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  padding: 30px;
  display: block;
  width: 100px;
  background-color: transparent;

  @include mq($medium, max) {
    width: 60px;
    padding: 17px;
  }

}
