.section-front-summary-wrap {
  margin: 0 $site-margin;
  max-width: $content-max;

  @include mq($bp-no-content-margin) {
    margin: 30px auto 0;
  }
}


.section-front-summary-text {
  font-family: $he-sans;
  font-size: 28px;
  font-weight: $font-weight-lt;
  font-style: italic;

}


.section-front-summary-link {
  white-space: nowrap;
  color: $he-secondary;

  @include mq($bp-small, max) {
    font-size: 22px;
  }

  @include mq($bp-small) {
    @include bullet(after);
  }
}
