.section-front-summary-text {
  font-family: $he-sans;
  font-size: 21px;
  line-height: 140%;
  font-weight: $font-weight-lt;
  font-style: italic;
  max-width: 850px;
  margin-top: 30px;

  @include mq($bp-medium) {
    font-size: 22px;
    margin-top: 40px;
  }

  @include mq($bp-medium-plus) {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 30px;
    // lets section header hang left of feed container
    // - matches archive-feed-container
  }

  @include mq($bp-large) {
    font-size: 26px;
    margin-top: 50px;
    margin-left: 90px - $site-margin;
    // lets section header hang left of feed container
    // - primary value matches archive-feed-container
  }

  @include mq($bp-no-content-margin) {
    margin-left: 90px;
    // lets section header hang left of feed container
    // - matches archive-feed-container
  }

}


.section-front-summary-link {
  white-space: nowrap;
  color: $he-secondary;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }

  @include mq($bp-small) {
    @include bullet(after);
  }
}
