.tz-full-mod {
  overflow: auto;
  &:not(:last-child) {
    border-bottom: 1px solid $black-30;
  }
}

.tz-content-wrap {
  float: left;
  display: block;
  padding: 42px 25px 42px 25px;

  @include mq('max', $medium) {
    padding: 22px 0 22px;
  }
}

.l-pair-full {

    @include pair(100px, 15px, top, right);

    @include mq($medium) {
      @include pair(150px, 25px, top, right);
    }
}

.tz-full-title {
  margin-bottom: 2px;
  color: $black;
  font-family: $he-sans;
  font-size: 28px;
  font-weight: $font-weight-bold;

  @include bp($medium) {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.tz-full-text {
  margin-bottom: 5px;
  color: $black;
  font-family: $he-sans;
  font-size: 14px;
  line-height: 1.33;

  @include bp($medium) {
    font-size: 16px;
    margin-bottom: 10px;
  }

  @include bp(850px) {
    font-size: 21px;
  }
}

.tz-full--byline-wrap {
}

.tz-full--byline-topic {
  display: inline-block;
  color: $he-secondary;
  font-family: $he-sans;
  font-size: 12px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  @include bp(850px) {
    font-size: 14px;
  }

}

.tz-full--byline-name {
  display: inline-block;
}

.tz-full--byline-date {
  display: inline-block;
}

.tz--byline-topic-link {
  text-decoration: none;
  color: inherit;
}

.tz--byline-author-link {
  text-decoration: none;
  color: inherit;
}

// .tz-full-img-wrap {
//   float: right;
//   display: block;
//   padding-left: 0px;
//   margin-bottom: 20px;
//   width: 100%;
//   height: 140px;
//   overflow: hidden;
//   min-width: 150px;

//   @include bp($medium) {
//     padding-left: 20px;
//     width: 35%;
//     height: 180px;
//     overflow: hidden;
//     margin-bottom: 0;
//     margin-left: 15px;
//     min-width: 185px;
//   }

//   @include bp(850px) {
//     width: 30%;
//     min-width: 250px;
//   }

//   // @include mq('max', $medium) {
//   //   padding: 20px;
//   // }
// }

// .tz-full-img {
//   @include resp-img;

//   @include bp($medium) {
//     width: auto;
//     height: 100%;
//     float: right;
//     max-width: 200%;
//   }
// }