// --------------------------------------------
// --------------------------------------------
//
// Tease Styles
//
// --------------------------------------------
// --------------------------------------------


.tz { font-family: $he-sans; }


.tz-inner {
  > * + * { margin-top: 5px; }
}


.tz-content-mod {
  > * + * { margin-top: 5px; }

  // When the main home page tease
  // has an image, this stuff happens
  .tz-hp-feat--main-img & {
    position: relative;
    z-index: 1;
    margin-top: -100px !important;
    width: 93%;
    padding: 20px 0 0 20px;
    background-color: #fff;
  }
}


.tz-img-mod { margin-bottom: 25px; }





// --------------------------------------------
// --------------------------------------------
//
// Tease Type styles
//
// --------------------------------------------
// --------------------------------------------

.tz-overline {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  color: $tz-overline-color;
}


.tz-overline-link {
  display: block;
  text-decoration: none;
  color: $tz-overline-color;
  &:hover {
    text-decoration: underline;
  }

  .tz-overline--feat-lg & {
    position: relative;
    // positioning ensures it's fully clickable even with a DOM box that overlaps it from below
    color: $black;
    @include mq($bp-medium) {
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 8px;
    }
  }
}


.tz-h {
  font-weight: $font-weight-bold;
  font-size: 36px;
  line-height: 1.02;
  letter-spacing: -1px;
}


.tz-h-link {
  text-decoration: none;
  color: $tease-head-color;
  &:hover {
    text-decoration: underline;
  }
}


.tz-text {
  margin-top: 10px;
  font-weight: $font-weight-lt;
  font-size: 21px;
  line-height: 1.33;
  color: $tease-text-color;
  @include mq($bp-display-type, max) { margin-top: 5px; }
  @include mq($bp-display-type, max) { font-size: 17px; }
}


.tz-author {
  font-weight: $font-weight-lt;
  font-size: 13px;
  margin-top: 10px;
}


.tz-author-name {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $black;
  &:hover { text-decoration: underline; }
}



// Tease Regular
// --------------------------------------------

.tz-overline--reg-lg { }


.tz-h--reg-lg {
  @include display-type;

  font-size: 30px;
  line-height: 1.1;
}


.tz-text--reg-lg {
  font-size: 18px;
  line-height: 1.33;

  @include mq($bp-display-type, max) {
    font-size: 17px;
  }
}


.tz-author--reg-lg { }


.tz-overline--reg-med { }


.tz-h--reg-med {
  @include display-type;

  // Size matches:
  // tz-h--stub-med,
  // tz-special-sub-h
  font-size: 24px;
  line-height: 1.15;
}


.tz-text--reg-med {
  font-size: 17px;
  line-height: 1.3;
}


.tz-author--reg-med { }



// Tease Stub
// --------------------------------------------

.tz-h--stub-lg {
  @include display-type;

  font-size: 30px;
  line-height: 1.2;
}


.tz-author--stub-lg { }


.tz-h--stub-med {
  @include display-type;

  // Size matches:
  // tz-special-sub-h,
  // tz-h--reg-med
  font-size: 24px;
  line-height: 1.1;
}


.tz-author--stub-med { }



// Tease Feature
// --------------------------------------------

.tz-h--feat-lg {
  line-height: 0.9;
  font-style: italic;
  font-weight: $font-weight-black;
  color: $tease-head-color;
  letter-spacing: 0;
  margin-bottom: 18px;

  @include mq($bp-medium) {
    font-size: 65px;
    margin-bottom: 24px;
  }

  @include mq($bp-large) {
    font-size: 100px;
    margin-bottom: 32px;
  }
}

// Underline hover animation
@mixin feat-lg--hoverAnimation(
  $weight: 9px,
  $offset: 25px
  ) {

  // Calculate weight offset by finding the
  // difference between the weight and provided offset
  $weight-offset: $offset + $weight;

  box-shadow:
    0 $offset 0px -4px #fff inset,
    0 $offset 0px -4px #000 inset;

  &:hover {
    box-shadow:
      0 $weight-offset 0px -4px #fff inset,
      0 $offset 0px -4px #000 inset;
  }
}


.tz-h--feat-lg .tz-h-link {
  @include trans(.3s, box-shadow, $animation-timing);
  @include feat-lg--hoverAnimation(4px, -12px);

  @include mq($bp-medium) {
    @include feat-lg--hoverAnimation(6px, -16px);
  }

  @include mq($bp-large) {
    @include feat-lg--hoverAnimation(9px, -25px);
  }

  // override standard link hover
  &:hover {
    text-decoration: none;
  }
}

.tz-text--feat-lg {
  line-height: 1.25;
  @include mq($bp-medium) {
    font-size: 21px;
    margin-bottom: 21px;
  }
  @include mq($bp-large) {
    font-size: 26px;
  }
}


.tz-author--feat-lg {
  font-size: 15px;
}



// Tease Special
// --------------------------------------------

.tz-special-h {
  position: relative;
  font-family: $he-accent;
  font-size: 28px;
  line-height: 1.194444444;
  font-weight: 900;
  color: $he-secondary;
  margin: 12px 0 5px;

  @include mq($bp-medium) {
    margin-top: 0;
  }
}


.tz-special-sub-h {
  // Size matches:
  // tz-h--stub-med,
  // tz-h--reg-med
  font-size: 24px;
  font-weight: $font-weight-bold;
  color: $tease-head-color;
}


.tz-special-link {
  @include bullet(after);
  color: $tease-head-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  // Center the bullet and make sure
  // it blocks out the underline
  &:after {
    line-height: 1.4em;
    padding-left: 5px;
    background-color: #fff;
  }
}


.tz-special-number {
  position: relative;
  font-family: $he-accent;
  font-size: 72px;
  line-height: 0.7;
  font-weight: 900;
  color: $he-secondary;
  letter-spacing: -1px;

  @include mq(650px) {
    font-size: 112px;
    letter-spacing: -3px;
  }
}


.tz-special-precent {
  font-size: 0.5em;
  vertical-align: super;
}


.l-pair-tz-special-stat {
  @include mq($bp-medium) { @include pair(auto, 30px); }

  @include mq($bp-medium, max) {
    .art-bd {
      float: none;
      max-width: auto;
      margin-left: 0;
    }
  }
}



// Applying Head Highlights
// --------------------------------------------

.tz-h--reg-med,
.tz-h--reg-lg,
.tz-h--stub-med,
.tz-h--stub-lg {
  .tz-h-link {
    // em, b, strong { @include head-highlight; }
    mark { @include head-highlight; }
  }
}


