// --------------------------------------------
// --------------------------------------------
//
// Tease Styles
//
// --------------------------------------------
// --------------------------------------------

.tz { font-family: $he-sans; }


.tz-inner {
  > * + * { margin-top: 15px; }
}


.tz-content-mod {
  // > * + * { margin-top: 15px; }
  > * + * { margin-top: 0.35em; }

  // When the main home page tease
  // has an image, this stuff happens
  .tz-hp-feat--main-img & {
    position: relative;
    z-index: 1;
    margin-top: -100px !important;
    width: 93%;
    padding: 20px 0 0 20px;
    background-color: #fff;
  }
}


.tz-img-mod { margin-bottom: 25px; }





// --------------------------------------------
// --------------------------------------------
//
// Tease Type styles
//
// --------------------------------------------
// --------------------------------------------

.tz-overline {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  color: $black-30;
}


.tz-overline-link {
  text-decoration: none;
  color: $black-30;
  &:hover { text-decoration: underline; }

  .tz-overline--feat-lg & {
    @include mq($medium) { color: black; }
  }
}


.tz-h {
  font-weight: $font-weight-bold;
  font-size: 36px;
  line-height: 1.02;
  letter-spacing: -1px;
  // color: $tease-head-color;
}


// prototype animation
@-webkit-keyframes teaseLink {
  0% { width: 0; }
  100% { width: 100%;  }
}


.tz-h-link {
  text-decoration: none;
  position: relative;
  color: $tease-head-color;
  @include trans(0.1s);
  &:after {
    position: static;
    content: '';
    bottom: 0.125em;
    // bottom: 0;
    height: 0.07em;
    left: 0;
    width: 0;
    background-color: black;
  }
  &:hover {
    // color: lighten($tease-head-color, 20%);
    &:after {
      position: absolute;
      -webkit-animation-duration: 0.75s;
      -webkit-animation-name: teaseLink;
      -webkit-animation-fill-mode: forwards
    }
  }
  &:active {
    color: $he-main;
    &:after { background-color: $he-main; }
  }
  em, b, strong {
    @extend %head-highlight;
  }
}


.tz-text {
  font-weight: $font-weight-lt;
  font-size: 21px;
  line-height: 1.33;
  color: $black-60;
}


.tz-author {
  font-weight: $font-weight-lt;
  font-size: 12px;
  margin-top: 10px;
}


.tz-author-name {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $black;
  &:hover { text-decoration: underline; }
}



// Tease Regular
// --------------------------------------------

.tz-overline--reg-lg { }


.tz-h--reg-lg {
  font-size: 36px;
  line-height: 1.02;
}


.tz-text--reg-lg {
  font-size: 21px;
  line-height: 1.33;
}


.tz-author--reg-lg { }


.tz-overline--reg-med { }


.tz-h--reg-med {
  font-size: 30px;
  line-height: 1.2;
}


.tz-text--reg-med {
  font-size: 19px;
  line-height: 1.54;
}


.tz-author--reg-med { }



// Tease Stub
// --------------------------------------------

.tz-h--stub-lg {
  font-size: 34px;
  line-height: 1.2;
}


.tz-author--stub-lg { }


.tz-h--stub-med {
  font-size: 28px;
  line-height: 1.1;
}


.tz-author--stub-med { }



// Tease Feature
// --------------------------------------------

.tz-h--feat-lg {
  // font-size: 100px;
  line-height: 0.9;
  font-style: italic;
  font-weight: $font-weight-black;
  // letter-spacing: -2px;
  letter-spacing: 0;

  .tz-h-link { color: black; }

  @include mq($medium) { font-size: 65px; }

  @include mq($large) { font-size: 100px; }
}


.tz-text--feat-lg {
  // font-size: 29px;
  line-height: 1.45;
  @include mq($medium) {
    font-size: 29px;
  }
}


.tz-author--feat-lg {
  font-size: 15px;
}



// Tease Special
// --------------------------------------------

.tz-special-h {
  display: inline;
  position: relative;
  font-family: $he-accent;
  font-size: 28px;
  line-height: 1.194444444;
  font-weight: 900;
  color: $he-secondary;
  // margin-bottom: 20px;
}


.tz-special-sub-h {
  font-size: 24px;
  font-weight: 700px;
  color: black;
}


.tz-special-link {
  @include bullet(after);
  text-decoration: underline;
  color: $head-color;
}


.tz-special-number {
  position: relative;
  font-family: $he-accent;
  font-size: 72px;
  // line-height: 1.194444444;
  line-height: 0.7;
  font-weight: 900;
  color: $he-secondary;
  letter-spacing: -3px;
  @include mq(650px) {
    font-size: 112px;
    letter-spacing: -8px;
  }
}


.tz-special-precent {
  position: absolute;
  top: 0.25em;
  font-size: 0.5em;
}


.l-pair-tz-special-stat {
  @include mq(500px, 650px) { @include pair(125px, 35px); }
  @include mq(650px) { @include pair(200px, 45px); }
}
