.tz-full-mod {
  overflow: auto;
  &:not(:last-child) {
    border-bottom: $bdr-thin;
    margin-bottom: 40px;
    padding-bottom: 40px;

    @include mq(600px, max) {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

}


.tz-content-wrap {
  display: block;
  // padding: 0 50px;
  @include mq(800px) {
    padding: 0 50px;
  }
  .tz-feat-mod & { padding: 0; }
}


.l-pair-full {
    // @include pair(100px, 15px, top, right);
    @include mq($medium, max) {
      .art-bd {
        width: 100px;
        float: right;
        margin-left: 15px;
        margin-bottom: 15px;
       }
    }

    @include mq($medium) {
      @include pair(175px, 25px, top, right);
    }
}

.txt-bd {
  .tz-full-mod & {
    max-width: 675px;
  }
}


// .tz-full-title { background-color: pink; }
// .tz-full-text-link { background-color: green; }

.tz-full-h,
.tz-full-text {
  // max-width: 800px;
}

.tz-full-h {
  // margin-bottom: 2px;
  margin-bottom: 5px;
  font-family: $he-sans;
  font-weight: $font-weight-bold;
  // font-size: 28px;
  font-size: 22px;
  line-height: 1.2;
  color: black;
  // letter-spacing: -1px;

  @include bp($medium) {
    font-size: 30px;
    // margin-bottom: 10px;
    margin-bottom: 15px;
  }
}


.tz-full-text {
  // margin-bottom: 5px;
  margin-bottom: 10px;
  font-family: $he-sans;
  font-weight: $font-weight-lt;
  font-size: 16px;
  line-height: 1.33;
  color: $black-80;

  @include bp($medium) {
    // margin-bottom: 10px;
    margin-bottom: 25px;
    font-size: 16px;
  }

  @include bp(850px) {
    font-size: 21px;
  }
}


.tz-full-h-link,
.tz-full-text-link {
  text-decoration: none;
  color: $black;
}


.tz-full--byline-wrap { }


.tz-full--byline-topic {
  margin-right: 15px;
  display: inline-block;
  font-family: $he-sans;
  font-weight: $font-weight-bold;
  font-size: 12px;
  color: $he-secondary;
  text-transform: uppercase;

  @include bp(850px) { font-size: 14px; }

}


.tz-full--byline-name,
.tz-full--byline-date {
  display: inline-block;
  font-weight: $font-weight-lt;
  position: relative;
  top: -1px;
}


.tz-full--byline-date {
  // position: relative;
  top: 0;
}

.tz--byline-topic-link,
.tz--byline-author-link {
  text-decoration: none;
  color: inherit;
}

.tz-full--byline-name,
.tz--byline-author-link {
  color: $black-60;
}



// --------------------------------------------
// --------------------------------------------
//
// Tease Archive Featured
//
// --------------------------------------------
// --------------------------------------------

.tz-feat-mod {
  @include pie-clearfix;
  border-bottom: $bdr-thin;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.art-bd-feat {
  @include mq(450px, max) {
    margin-bottom: 15px;
  }
}

.txt-bd-feat {
  position: relative;
  background-color: #fff;
  max-width: 750px;
  padding: 0;

  @include mq(450px) {
    width: 95%;
    margin: -50px auto 0 auto;
    // margin-top: -50px;
    padding: 10px 20px 20px 20px;
  }

  @include mq(600px) {
    width: 85%;
    padding-left: 0;
    margin: -50px 0 0;
  }

  @include mq(800px) {
    padding: 30px 30px 25px 50px;
  }
}
