// --------------------------------------------
// --------------------------------------------
//
// HP :: Latest List Teases
//
// --------------------------------------------
// --------------------------------------------

.hp-list-hdr {
  @extend %section-hdr;
  display: none;
  font-size: 16px;
  margin-bottom: 2em;
  @include mq($bp-zone-has-layout) {
    display: inline-block;
    font-size: 17px;
  }
}


.hp-list-item {
  @include pie-clearfix;
  position: relative;
  & + & {
    margin-top: 21px;
    padding-top: 18px;
    border-top: $bdr-thin--lt;
  }
}


.hp-list-head {
  @include display-type;
  @include bullet(before, $he-main);

  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-left: 1em;
}


.hp-list-link {
  @include head-link;
  &:hover {
    text-decoration: underline;
  }
  // em, b, strong {
  //   @include head-highlight;
  // }
  mark {
    @include head-highlight;
  }
}


.hp-latest-list-img {
  @extend %columnist-img;
  float: right;
}
