// --------------------------------------------
// --------------------------------------------
//
// HP :: Latest List Teases
//
// --------------------------------------------
// --------------------------------------------

.hp-list-hdr {
  @extend %section-hdr;
  font-size: 19px;
}

.hp-list-items { }

.hp-list-item {
  font-size: 26px;
  line-height: 1.230769231;   //32/26
  position: relative;
  & + & {
    margin-top: 0.85em;
    padding-top: 0.85em;
    border-top: $bdr-thin--lt;
  }
}


.hp-list-head {
  @include bullet(before, $he-main);
  padding-left: 1em;
}


.hp-list-link {
  @include head-link;
  em, b, strong {
    @extend %head-highlight;
  }
}

.hp-latest-list-img {
  @extend %columnist-img;
  float: right;
}
