.error404 {
  background-color: $he-main;

  //overrides the background color for footer promos
  .ftr-promo-outer {
    background-color: $he-main;
  }
}


.four-oh-four-hdr {
  font-size: 50px;
  font-weight: $font-weight-bold;
  line-height: .95;
  letter-spacing: -1px;
  color: $black;

  @include mq($bp-small) {
    font-size: 68px;
  }
  @include mq($bp-medium) {
    font-size: 82px;
  }
  @include mq($bp-large) {
    font-size: 100px;
  }
}

.error-span {
  color: white;
}
