.error404 {
  background-color: $he-main;

  //overrides the background color for footer promos
  .ftr-promo-outer { background-color: $he-main; }
}

// .four-oh-four-body {
//   background-color: $he-main;
// }

.four-oh-four-hdr {
  color: $black;
  font-weight: $font-weight-bold;
  font-size: 100px;
  line-height: .95;
}

.error-span {
  color: white;
}
