.l-archive-hdr-wrap,
.l-section-front-hdr-wrap {
  margin: -30px $site-margin 50px;
  max-width: 960px;
  @extend %bp-trans;

  // Font sizes change in archive-hdr, below
  @include mq($bp-small) {
    margin-top: -38px;
    margin-bottom: 65px;
  }

  @include mq($bp-medium) {
    margin-top: -50px;
    margin-bottom: 75px;
  }

  @include mq($bp-medium-plus) {
    margin-top: -58px;
    margin-bottom: 100px;
  }

  @include mq($bp-large) {
    margin-top: -66px;
  }

  @include mq($bp-desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}


.archive-hdr {
  @include sans-bold;
  color: $black;
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 100%;
  text-decoration: underline;

  // Position changes in archive-hdr-wrap, above
  @include mq($bp-small) {
    font-size: 67px;
  }

  @include mq($bp-medium) {
    font-size: 87px;
  }

  @include mq($bp-medium-plus) {
    font-size: 100px;
    letter-spacing: -3px;
  }

  @include mq($bp-large) {
    font-size: 110px;
  }

}


.archive-feed-container {
  margin: 0 $site-margin;
  max-width: $content-max;

  @include mq($bp-large) {
    margin: 0 $site-margin 0 90px;
    // margin-left lets section header hang
    // to the left of the feed container
    // matches section-front-summary-text
   }

  @include mq($bp-no-content-margin) {
    margin: 0 auto;
    padding-left: 90px;
    // lets section header hang to the left
    // of the feed container
    // matches section-front-summary-text
  }

}




