.l-archive-hdr-wrap {
  // margin-top: 30px;
  margin: 25px auto 25px auto;
  max-width: 960px;
  @extend %bp-trans;
  @include mq('max', $bp-medium) {
    // margin: 40px 0 25 25px;
  }
  @include mq($bp-medium) { margin-top: -60px; }

  @include mq($bp-desktop) { margin-top: -100px; }

  @include mq($bp-desktop, max) { margin-left: 25px; }
}


.archive-hdr {
  color: $black;
  @include sans-black;
  font-size: 135px;
  text-decoration: underline;

  @include mq($bp-medium, max) { font-size: 40px; }

  @include mq($bp-medium, $bp-desktop) { font-size: 80px; }

  @include mq($bp-medium) { letter-spacing: -1px; }

  @include mq($bp-large) { letter-spacing: -2px; }

}


.archive-feed-container {
  margin: 45px $site-margin 0;
  max-width: $content-max;

  @include mq($bp-no-content-margin) {
    margin: 70px auto 0;
  }
}





// **************************
// to delete
.archive-yellow-box {
  // @extend %yellow-box;
  background-color: pink;
  height: 183px;
  background-color: pink;

  @include mq('max', $bp-medium) {
    height: 120px;
  }
}
