// --------------------------------------------
// --------------------------------------------
//
// Variables
//
// --------------------------------------------
// --------------------------------------------

// Max width of paragraphs in article
$article-bd-max:          550px;


// Article image widths
$img-max-sm:              350px;
$img-max-med:             450px;
$img-max-lg:              650px;
$img-max-bd:              $article-bd-max;

// Article aside width
$aside-max:               240px;



// Breakpoints
// --------------------------------------------

// Used on article page for images, determing when they are no
// longer bleeding out of the rest of the article container.
$bp-img-no-bleed:           550px;


// When asides (pullquotes) float and take on max-width
$bp-aside:                  550px;
$bp-aside-negative-margin:  925px;

// When article is no longer centered and take on columnar layout
$bp-article-not-centered:   900px;





// --------------------------------------------
// --------------------------------------------
//
// Layout
//
// --------------------------------------------
// --------------------------------------------

// checkout layout.scss for l-content and l-content--inner.
// They're more universal and thus pulled out

.article-main {
  // display: table;
  @include mq(700px) {
    display: block;
  }
}

.article-body {
  @include pie-clearfix;
  // display: table-caption;
  margin-bottom: 30px;
  > * + * { margin-top: 17px; }

  @include mq(550px) {
    // max-width: 880px;
    // margin: 0 auto;
    // padding: 0 50px;
  }
  @include mq(700px) {
    // display: initial;
  }
  @include mq(900px) { }
}

.recirculation-container {
  margin-top: 50px;
  @include pie-clearfix;
}

.page-mod {
  @include pie-clearfix;
  margin-top: 29px;
  max-width: $article-bd-max;
}

.article-mod {
  max-width: $article-bd-max;
  margin-left: auto;
  margin-right: auto;
  @include mq($bp-article-not-centered) {
    margin-left: 0;
    margin-right: 0;
  }
}

.article-tools-btm-left { float: left; }
.article-tools-btm-right { float: right; }




// --------------------------------------------
// --------------------------------------------
//
// Inner Article Type Styles
//
// --------------------------------------------
// --------------------------------------------

.article-text {
  @extend %article-text;

  // Paragraphs
  // --------------------------------------------

  > p {
    // @extend %article-bd-margin;
    max-width: $article-bd-max;
    margin-left: auto;
    margin-right: auto;
    &:first-of-type { @include drop-cap; }
    @include mq($bp-article-not-centered) { margin-left: 0; margin-right: 0;}
  }


  // Headline Styles
  // --------------------------------------------

  > h1,
  > h2,
  > h3,
  > h6 {
    font-family: $he-sans;
    font-weight: $font-weight-bold;
    + p { margin-top: 5px; }
  }

  > h4,
  > h5 { border-bottom: 6px solid black; }

  > h1 { font-size: 30px; margin-top: 45px; }

  > h2 { font-size: 24px; margin-top: 45px;  }

  > h3 { font-size: 20px; margin-top: 45px; }

  > h4 {
      display: inline-block;
      margin-top: 45px;
      font-family: $he-serif;
      font-weight: $font-weight-black;
      font-size: 22px;
      padding-bottom: 3px;
  }

  > h5 {
      font-family: $he-serif;
      font-weight: $font-weight-black;
      font-size: 15px;
      padding-bottom: 3px;
      display: inline-block;
    }

  > h6 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }


  // Block Quote
  // --------------------------------------------
  > blockquote {
    max-width: $article-bd-max;
    margin: 25px 0 !important;
    border-left: 3px solid $he-secondary;
    padding-left: 25px;
    font-size: 16px;
    font-family: $he-sans;
    font-weight: $font-weight-lt;
    color: $black-40;

    p { margin-top: 17px; }

    ul, ol {
      font-size: 16px;
      margin-top: 17px;
      padding-left: 25px;
      a {}
    }

    ul {
      list-style-type: disc;

      ul {
        list-style-type: circle !important;
        margin-left: 20px;
      }
    }

    ol > li:before { color: $black-40; }
  }

  .pull-quote a { }


  // Lists
  // --------------------------------------------
  > ul,  > ol {
    // font-family: $he-sans;
    // font-size: 16px;
    margin-left: 20px;

    li { margin-top: 10px; }
    a {}
  }

  > ul {
    list-style-type: disc;

     ul {
      list-style-type: circle !important;
      margin-left: 20px;
    }
  }
    ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    }

ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 1.5em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 0; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */

}
ol > li:before {
    content: counter(li)'.'; /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top: -5px;
    left: -43px;;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    color: $he-secondary;
    font-weight:bold;
    font-size: 24px;
    font-family: $he-sans;
    text-align:center;
}
    li ol,
    li ul {margin-top:6px;}
    ol ol li:last-child {margin-bottom:0;}

  // }

  // > ol {
  //   > li { }
  // }

  // Links
  // --------------------------------------------
  a, a:visited {
    color: $he-secondary;
    text-decoration: none;
    &:hover, &:visited:hover {
        text-decoration: underline;
    }
  }

  > address {
    font-family: $he-sans;
    font-size: 16px;
    font-style: italic;
    font-weight: $font-weight-lt;
  }

  // Images
  // --------------------------------------------

  .aligncenter {
    max-width: $img-max-lg;
    // margin-left: auto;
    // margin-right: auto;
    @include mq($bp-img-no-bleed) {
      margin-left: auto;
      margin-right: auto;
    }
    @include mq($bp-article-not-centered) {
      max-width: $img-max-bd;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .alignleft {
    @include mq($bp-img-no-bleed) {
      float: left;
      max-width: $img-max-sm;
      margin-left: -$site-margin;
      margin-right: $site-margin;
    }
    @include mq($desktop) { margin-left: -100px; }
  }


  .alignright {
    @include mq($bp-img-no-bleed) {
      float: right;
      max-width: $img-max-sm;
      margin-right: -$site-margin;
      margin-left: $site-margin;
    }
    @include mq($desktop) {
      max-width: $img-max-med;
      margin-right: -($site-margin*2);
    }
  }

  .wp-caption-text {
    font-family: $he-sans;
    font-weight: $font-weight-lt;
    font-size: 14px;
  }

  .wp-image-38 {
    margin-right: 20px;
    height: auto;
  }
  .cap-image-right,
  .cap-image-left { }


  .cap-caption { }

  .media-mod { }

  // Italic
  // --------------------------------------------
  em, i { }

  // Bold
  // --------------------------------------------
  strong, b { }


} // article-body





// --------------------------------------------
// --------------------------------------------
//
// Author Bio
//
// --------------------------------------------
// --------------------------------------------

.l-article-bio {
  // @include pie-clearfix;
  @include bp($medium, max) {
    .art-bd {
      float: right;
      width: 20%;
      max-width: 75px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }
  @include bp($medium) {
    @include pair(100px, $space-grid--half);
  }
}

.article-bio-h {
  @extend %name-hdr;
  font-size: 16px;
}

.article-bio-h-link {
  @extend %head-link;
}

.author-bio-text {
  font-size: 15px;
  line-height:  1.266666667;  // 19/15
}

.article-bio-link {
  @extend %link-bullet;
  padding-: 1em;
  position: relative;
  display: inline-block;
  color: $he-secondary;
  text-decoration: none;
}




// --------------------------------------------
// --------------------------------------------
//
// Article tag items
//
// --------------------------------------------
// --------------------------------------------

.article-tag-container {
  @include pie-clearfix;
  padding: 20px 5px;
  border-top: $border-thin;
  border-bottom: $border-thin;
}

.article-tag-h {
    display: inline-block;
    float: left;
    font-weight: 700;
    color: black;
    font-size: 15px;
 }

.article-tag-items {
  font-size: 15px;
}

.article-tag-item {
  display: block;
  float: left;
}

.article-tag-link {
  display: block;
  float: left;
  text-decoration: none;
  color: $he-secondary;
  margin-left: 10px;
  font-weight: 300;
  position: relative;
  &:after {
    position: absolute;
    content: ',';
    right: -5px;
    color: inherit;
  }
  &:hover { text-decoration: underline; }
}



// --------------------------------------------
// --------------------------------------------
//
// Article Related Text
//
// --------------------------------------------
// --------------------------------------------

.article-related-h {
  @extend %article-bd-margin;
  max-width: $article-bd-max;
  padding: 5px 3px;
  font-size: 17px;
  font-family: $he-sans;
  border-top: $bdr-thin;
  border-bottom: $bdr-thin;
  color: black;
}

.related-label {
  margin-right: 2px;
}

.article-related-text-link {
  @include bullet(after);
  color: $he-secondary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:after { line-height: 2.1; }
}




// --------------------------------------------
// --------------------------------------------
//
// Article Comments
//
// --------------------------------------------
// --------------------------------------------

#comment-mod {
  display: none;
  &.comment-mod--is-active { display: block; }
}

.comment-inner { }

