// --------------------------------------------
// --------------------------------------------
//
// Variables
//
// --------------------------------------------
// --------------------------------------------

// Max width of paragraphs in article
$article-bd-max:          550px;


// Article image widths
$img-max-sm:              350px;
$img-max-med:             450px;
$img-max-lg:              650px;
$img-max-bd:              $article-bd-max;

// Article aside width
$aside-max:               240px;



// Breakpoints
// --------------------------------------------

// Used on article page for images, determing when they are no
// longer bleeding out of the rest of the article container.
$bp-img-no-bleed:           550px;


// When asides (pullquotes) float and take on max-width
$bp-aside:                  550px;
$bp-aside-negative-margin:  925px;

// When article is no longer centered and take on columnar layout
$bp-article-not-centered:   820px;





// --------------------------------------------
// --------------------------------------------
//
// Article Body Layout Controller
//
// --------------------------------------------
// --------------------------------------------

@mixin article-bd-layout {
  max-width: $article-bd-max;
  @include mq($bp-article-not-centered, max) {
    margin-left: auto;
    margin-right: auto;
  }
  @include mq($bp-article-not-centered) {
    margin-left: 25px;
    // padding-left: 25px;
  }
}





// --------------------------------------------
// --------------------------------------------
//
// Layout
//
// --------------------------------------------
// --------------------------------------------

// checkout layout.scss for l-article and l-article--inner.

.article-main {
  // display: table;
  @include mq(700px) {
    display: block;
  }
}


.article-body {
  @include pie-clearfix;
  // display: table-caption;
  margin-bottom: 30px;
  > * + * { margin-top: 17px; }

  @include mq(700px) {
    // display: initial;
  }

}


.recirculation-container {
  margin-top: 50px;
  @include pie-clearfix;
}


.page-mod {
  @include pie-clearfix;
  margin-top: 29px;
  max-width: $article-bd-max;
}


.article-mod {
  @include article-bd-layout;
}


.article-tools-btm-left {
  @include mq(450px) { float: left; }
}


.article-tools-btm-right {
  @include mq(450px) { float: right; }
}





// --------------------------------------------
// --------------------------------------------
//
// Inner Article Type Styles
//
// --------------------------------------------
// --------------------------------------------

.article-text {
  @include article-text;



  // Paragraphs
  // --------------------------------------------

  > p {
    @include article-bd-layout;
    &:first-of-type { @include drop-cap; }
  }



  // Headline Styles
  // --------------------------------------------

  > h1, > h2, > h3, > h4, > h5, > h6 { @include article-bd-layout; }


  > h1,
  > h2,
  > h3,
  > h6 {
    @include sans-bold;
    + p { margin-top: 5px; }
  }


  // rules beneath h4 and h5 headers
  > h4,
  > h5 {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -10px;
      height: 6px;
      width: 85px;
      background-color: black;
    }
  }


  > h1 { font-size: 30px; margin-top: 45px; }


  > h2 { font-size: 24px; margin-top: 45px;  }


  > h3 { font-size: 20px; margin-top: 45px; }


  > h4 {
      @include accent-header;
      margin-top: 45px;
      margin-bottom: 25px;
      font-size: 22px;
  }


  > h5 {
      @include accent-header;
      font-size: 15px;
      margin-bottom: 25px;
      margin-top: 45px;
    }


  > h6 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }



  // Block Quote
  // --------------------------------------------
  > blockquote {
    @include sans;
    @include article-bd-layout;
    margin: 45px inherit;
    border-left: 3px solid $he-secondary;
    padding-left: 25px;
    font-size: 16px;
    color: $black-40;

    p { margin-top: 17px; }

    ul,
    ol {
      font-size: 16px;
      margin-top: 17px;
      padding-left: 25px;
      a { }
    }

    ul {
      list-style-type: disc;

      ul {
        list-style-type: circle !important;
        margin-left: 20px;
      }
    }

    ol > li:before { color: $black-40; }
  }


  .pull-quote a { }



  // Lists
  // --------------------------------------------
  > ul,
  > ol {
    @include article-bd-layout;
    // margin-left: 20px;
    padding-left: 20px;

    li { margin-top: 10px; }
    a {}
  }

  > ul {
    list-style-type: disc;

    ul {
      list-style-type: circle !important;
      margin-left: 20px;
    }
  }

  > ol { @include order-list; }

  li ol,
  li ul {
    margin-top:6px;
  }

  ol ol li:last-child { margin-bottom: 0; }



  // Links
  // --------------------------------------------

  a, a:visited {
    color: $he-secondary;
    text-decoration: none;
    &:hover, &:visited:hover {
        text-decoration: underline;
    }
  }

  > address {
    font-family: $he-sans;
    font-size: 16px;
    font-style: italic;
    font-weight: $font-weight-lt;
  }

  // Images
  // --------------------------------------------

  .aligncenter {
    max-width: $img-max-lg;
    @include mq($bp-img-no-bleed) {
      margin-left: auto;
      margin-right: auto;
    }
    @include mq($bp-article-not-centered) {
      max-width: $img-max-bd;
      margin-left: 25px;
      margin-right: 0;
    }
  }


  .alignleft {
    @include mq($bp-img-no-bleed) {
      float: left;
      max-width: $img-max-sm;
      margin-left: -$site-margin;
      margin-right: $site-margin;
    }
    @include mq($desktop) { margin-left: -100px; }
  }


  .alignright {
    @include mq($bp-img-no-bleed) {
      float: right;
      max-width: $img-max-sm;
      margin-right: -$site-margin;
      margin-left: $site-margin;
    }
    @include mq($desktop) {
      max-width: $img-max-med;
      margin-right: -($site-margin*2);
    }
  }


  .wp-caption-text {
    font-family: $he-sans;
    font-weight: $font-weight-lt;
    font-size: 14px;
  }


  .cap-image-right,
  .cap-image-left { }

  .cap-caption { }



  // Italic
  // --------------------------------------------
  em, i {
    font-style: italic;
  }



  // Bold
  // --------------------------------------------
  strong, b {
    font-weight: $font-weight-bold;
  }


} // article-body





// --------------------------------------------
// --------------------------------------------
//
// Author Bio
//
// --------------------------------------------
// --------------------------------------------

.l-article-bio {
  // @include pie-clearfix;
  @include bp($medium, max) {
    .art-bd {
      float: right;
      width: 20%;
      max-width: 75px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }
  @include bp($medium) {
    @include pair(100px, $space-grid--half);
  }
}


.article-bio-h {
  // @extend %name-hdr;
  @include accent-header-underline;
  font-size: 16px;
}


.article-bio-h-link {
  @include head-link;
}


.author-bio-text {
  font-size: 15px;
  line-height:  1.266666667;  // 19/15
}


.article-bio-link {
  @include bullet(after);
  padding-: 1em;
  position: relative;
  display: inline-block;
  color: $he-secondary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}





// --------------------------------------------
// --------------------------------------------
//
// Article tag items
//
// --------------------------------------------
// --------------------------------------------

.article-tag-container {
  @include pie-clearfix;
  padding: 20px 5px;
  border-top: $bdr-thin;
  border-bottom: $bdr-thin;
}


.article-tag-h {
    display: inline-block;
    float: left;
    font-weight: 700;
    color: black;
    font-size: 15px;
 }


.article-tag-items {
  font-size: 15px;

  // hack to take comma for last item in a list
  li { &:last-child {
      a { &:after { content: ''; } }
    }
  }
}


.article-tag-item {
  display: block;
  float: left;
}


.article-tag-link {
  display: block;
  float: left;
  text-decoration: none;
  color: $he-secondary;
  // margin-left: 10px;
  margin-left: 8px;
  font-weight: 300;
  position: relative;
  &:after {
    position: absolute;
    content: ',';
    // right: -5px;
    right: -4px;
    color: inherit;
  }
  // &:last-of-type { &:after { content: ''; } }
  &:hover { text-decoration: underline; }
}





// --------------------------------------------
// --------------------------------------------
//
// Article Related Text
//
// --------------------------------------------
// --------------------------------------------

.article-related-h {
  @extend %article-bd-margin;
  max-width: $article-bd-max;
  padding: 5px 3px;
  font-size: 17px;
  font-family: $he-sans;
  border-top: $bdr-thin;
  border-bottom: $bdr-thin;
  color: black;
}


.related-label {
  margin-right: 2px;
}


.article-related-text-link {
  @include bullet(after);
  color: $he-secondary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:after { line-height: 2.1; }
}





// --------------------------------------------
// --------------------------------------------
//
// Article Comments
//
// --------------------------------------------
// --------------------------------------------

.article-comment-link {
  position: relative;
  display: block;
  // width: 140px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-top: 20px;
  padding-left: 35px;
  // border: $bdr-thin;
  border: 1px solid lighten($black-10, 9%);
  background-color: lighten($black-10, 11%);
  text-decoration: none;
  text-transform: uppercase;
  color: $he-secondary;
  font-weight: 700;

  @include mq(450px) {
    width: 140px;
    height: 35px;
    margin-top: 0;
    line-height: 35px;
  }

}


#comment-mod {
  display: none;
  &.comment-mod--is-active { display: block; }
}


.comment-inner { }

