// --------------------------------------------
// --------------------------------------------
//
// Author Variables
//
// --------------------------------------------
// --------------------------------------------

$bp-author-pair: 800px;





// --------------------------------------------
// --------------------------------------------
//
// Author Header
//
// --------------------------------------------
// --------------------------------------------

.l-page-hdr { }


.page-hdr {
  @extend %bp-trans;
  padding: 0 $site-margin;
  border-top: 2px solid transparent;
  margin: 0 auto 40px auto;

  @include mq($bp-medium-plus) {
    padding-top: 30px;
    border-top-color: #000;
    background-color: #fff;
  }

}


.page-hdr-inner {
  @extend %bp-trans;
  margin: 0 auto;
  max-width: $content-max--inner;

  @include mq($bp-large-plus) { margin-top: 0; }

  &.articleFeat-hdr-inner { max-width: 100%; }
}


.author-hdr-topic {
  @include accent-header;
  display: block;
  border-bottom: none;
  font-size: 24px;
  font-family: $he-serif;
}


.author-topic-link {
  @include head-link;
  &:hover { text-decoration: none; }
}





// --------------------------------------------
// --------------------------------------------
//
// Author Bio
//
// --------------------------------------------
// --------------------------------------------

.author-bio-mod {
  margin-bottom: $space-grid--threequarter;
  @include mq($bp-medium-plus) { padding: 0 $space-grid; }
}


.l-author-bio {
  @include mq($bp-author-pair, max) {
    .art-bd {
      width: 25%;
      max-width: 100px;
      margin-bottom: 20px;
    }
  }

  @include mq(350px, $bp-author-pair) {
    .art-bd {
      float: right;
      margin-left: 10px;
    }
  }

  @include mq($bp-author-pair) {
    @include pair(185px, $space-grid);
  }

}


.author-bio-title {
  @include sans-bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}


.author-bio-h {
  display: inline-block;
  border-bottom: 6px solid black;
  padding-bottom: 2px;
  font-family: $he-serif;
  font-size: 18px;
  margin-bottom: 15px;
  color: black;

  @include mq($bp-medium) {
    font-size: 31px;
    margin-bottom: 25px;
  }
}


.article-bio-text {
  color: $black-80;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}


.author-bio-contact {
  margin-top: 15px;
}


.author-contact-items {
  @include sans;
  font-size: 12px;
}


.author-contact-item {
  margin-bottom: 15px;
  padding-left: 10px;

  @include mq($bp-small) {
    display: inline-block;
    & + & { margin-left: 30px; }
  }

  @include mq($bp-medium) {
    // & + & { margin-left: 30px; }
  }
}


.author-contact-link {
  position: relative;
  padding-left: 12px;
  color: $black-40;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

