// --------------------------------------------
// --------------------------------------------
//
// Homepage Layout
//
// --------------------------------------------
// --------------------------------------------

.l-hp-zone--reports {
  @include mq($bp-zone-has-layout) {
    .l-zone-dos {
      display: flex;
      flex-flow: row wrap;
    }

    .grid-item {
      flex: 0 0 50%;
      min-height: 230px;
    }
  } //mq
}

.l-hp-zone--feat { }





// --------------------------------------------
// --------------------------------------------
//
// Specific Homepage Tease Styles
//
// --------------------------------------------
// --------------------------------------------

// Spacing matches `l-hp-zone`
.hp-top-feat-mod {
  > * + * {
    margin-top: 25px;
    padding-top: 25px;
    border-top: $bdr-thin;
  }
}


// Homepage Main
// --------------------------------------------

.hp-feat-mod {
  // background-color: green;
}

.tz-hp-feat--main {
  position: relative;
  margin-top: -65px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 16px 30px 10px 25px;
  border-top: 6px solid #000;

    // Create side borders
    &:before,
    &:after {
      position: absolute;
      @include content;
      width: 6px;
      background-color: #000;
    }

    &:before {
      top: 0;
      bottom: 0;
      left: 0;
    }
    &:after {
      top: 0;
      bottom: 70%;
      right: 0;
    }

  @include mq($bp-small) {
    padding: 22px 35px 10px 30px;
    margin-top: -70px;
    margin-left: -10px;
    margin-right: -10px;

    border-top-width: 7px;
    &:before,
    &:after {
      width: 7px;
    }
  }

  @include mq($bp-medium) {
    padding: 30px 40px 10px 35px;
    margin-top: -100px;

    border-top-width: 8px;
    &:before,
    &:after {
      width: 8px;
    }
  }

  @include mq($bp-large) {
    margin-top: -135px;
    padding-top: 40px;
    padding-left: 45px;
    margin-left: 0;
    margin-right: 0;

    &.tz-hp-feat--main-img {
      padding-top: 30px;
    }
  }


  .tz-inner {
     > * + * { margin-top: 20px; }
  }

  // When the featured tease has an image
  // This class exists and tweaks some styles
  &.tz-hp-feat--main-img {
    padding: 10px;
    border: none;
    background-color: #fff;
    &:before, &:after { position: static; background-color: transparent; }

  }
}


// Second story with photo

.l-pair-tz-hp-reg {
  .tz-img-mod {
    @include mq($bp-zone-has-layout, max) {
      // makes sure we don't override
      // layout rules applied later
      float: right;
      margin: 0 0 10px 20px;
    }
    @include mq($bp-small) {
      width: 125px;
    }
    @include mq($bp-medium) {
      width: 175px;
    }
    @include mq($bp-zone-has-layout) {
      width: auto;
    }
  } // tz-img-mod
}




// --------------------------------------------
// --------------------------------------------
//
// HP :: Second Feature Zone
//
// --------------------------------------------
// --------------------------------------------

.hp-second-feature-mod {
  position: relative;
  width: 100%;
  text-align: center;
}


.hp-second-feature-img-container {
  display: inline-block;
  width: 100%;
  max-width: 643px;
}


.hp-second-feature-txt-container {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}


.hp-second-feature-txt-inner {
  position: relative;
  margin-top: -150px;
  text-align: left;

  @include mq($bp-large) {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    margin-top: 0;
  }
}


.hp-second-feature-topic {
  font-size: 11pt;
  color: $black;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  width: 16%;
  min-width: 150px;
  padding: 6px 10px 0 0;
  @include mq(400px) { font-size: 12pt; }
  @include mq(700px) { font-size: 14pt; }
}


.hp-second-feature-head {
  font-size: 25pt;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  color: $black;
  padding: 0 5px 5px 0;
  background-color: #fff;
  display: inline-block;
  @include mq(500px) {
    font-size: 35pt;
  }
  @include mq(700px) {
    font-size: 50pt;
  }
}

// Remove standard link hover style
.hp-second-feature-head .tz-h-link:hover {
  text-decoration: none;
}

.hp-second-feature-txt {
  font-size: 14pt;
  font-weight: $font-weight-lt;
  color: $black;
  line-height: 1.3;
  background-color: white;
  width: 100%;
  padding: 0 15px 7px 0;
  display: inline-block;

  @include mq($bp-large) {
    width: 70%;
  }
}


.hp-second-feature-read-more {
  // @extend %link-bullet-readmore; // any way we can put nonbreaking spaces in this?
  @include bullet(after);
  white-space: nowrap;
  margin-left: 5px;
  color: $he-secondary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}





// --------------------------------------------
// --------------------------------------------
//
// HP :: Special Reports Zone
//
// --------------------------------------------
// --------------------------------------------

.special-report-tz-background {
  background-image: url("/wp-content/themes/hechinger/static/img/special-reports/img-special_report_tease-California-465-258.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  // Here, absolute positioning stretches background
  // to fill entire width and height of container ...
  @include absolute(0 0 0 0);


  // After boxes have layout and line up in a quadrant,
  // absolute positioning ensures that background
  // fills full height of box and all boxes appear
  // equally sized

  // Left value matches gutter of
  // `.l-zone-dos .grid-item` in 'layout.scss'
  @include mq($bp-zone-has-layout) {
    @include absolute(0 0 0 25px);
  }


  // Overlay automatically darkens background,
  // making text easier to read
  &:after {
    @include psuedo(0 0 0 0);
    background-color: rgba($black, 0.5);
  }
}

.special-report-tz-content {
  position: relative;
  z-index: 1;
  padding: 23px 20px 30px;
  @include mq(550px) {
    padding: 30px 30px 40px;
  }
  @include mq($bp-zone-has-layout) {
    padding: 30px 30px 35px;
  }
}


.special-report-tz-hdr-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5em;
}


.special-report-tz-hdr {
  display: inline-block;
  font-size: 21px;
  padding-bottom: 0.5em;
  font-family: $he-accent;
  font-weight: 900;
  color: #fff;
  @include trans(0.1s, all, $animation-timing);

  @include mq($bp-small, $bp-zone-has-layout) {
    font-size: 23px;
  }

  @include mq($bp-large) {
    font-size: 23px;
  }

  // Underline animation
  // ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  // White underline fills up with yellow

  $specialReport--underlineWidth: 75px;

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: .25em;
  }

  &:before {
    width: $specialReport--underlineWidth;
    background-color: #fff;
  }

  &:after {
    width: 0;
    background-color: $he-main;
    transition-duration: 0.35s;
  }

  &:hover:after {
    background-color: $he-main;
    width: $specialReport--underlineWidth;
    transition-duration: 0.75s;
  }
}


.special-report-tz-item {
  @include bullet(before, $he-main);
  font-size: 16px;
  line-height: 1.2;   // 22/17
  color: #fff;
  padding-left: 1em;
  & + & { margin-top: 0.85em; }

  @include mq($bp-small) {
    font-size: 17px;
  }

  @include mq(550px, $bp-zone-has-layout) {
    font-size: 18px;
  }

  @include mq($bp-large-plus) {
    font-size: 18px;
  }

}


.special-report-tz-link {
  text-decoration: none;
  color: white;
  &:hover { text-decoration: underline; }
}


// --------------------------------------------
// --------------------------------------------
//
// Footer Overrides
//
// --------------------------------------------
// --------------------------------------------

.home .ftr-promo-mod {
  margin-top: 0;
}
