// --------------------------------------------
// --------------------------------------------
//
// Homepage Layout
//
// --------------------------------------------
// --------------------------------------------




// .l-hp-zone {

//   > * + * {
//     padding-top: 45px;
//     margin-top: 45px;
//     border-top: $bdr-thin;
//   }

//   & + & {
//     margin-top: 45px;
//     padding-top: 45px;
//     border-top: $bdr-thin;
//   }
// }

.l-hp-zone--reports { }

.l-hp-zone--feat { }











// --------------------------------------------
// --------------------------------------------
//
// Specific Homepage Tease Styles
//
// --------------------------------------------
// --------------------------------------------


.hp-top-feat-mod {
  > * + * {
    margin-top: 25px;
    padding-top: 25px;
    border-top: $bdr-thin;
  }
}


// Homepage Main
// --------------------------------------------

.tz-hp-feat--main {
  position: relative;
  margin-top: -175px;
  padding: 60px 40px 0 40px;
  border-top: 12px solid black;
  // rules for featured main tease
  &:before, &:after {
    position: absolute;
    content: '';
    width: 12px;
    background-color: black;
  }
  &:before { top: 0; bottom: 0; left: 0; }
  &:after { top: 0; bottom: 70%; right: 0; }

  .tz-inner {
     > * + * { margin-top: 20px; }
  }

  // When the featured tease has an image
  // This class exists and tweaks some styles
  &.tz-hp-feat--main-img {
    padding: 10px;
    border: none;
    background-color: #fff;
    &:before, &:after { position: static; background-color: transparent; }

  }
}












// Homepage Regular
// --------------------------------------------



// --------------------------------------------
// --------------------------------------------
//
// Tease Layout Pairs :: needs thinking
//
// --------------------------------------------
// --------------------------------------------

// .l-pair-tz-hp-reg {
//   @include mq(425px) {
//     @include pair(45%, 4%, top, right);
//   }
// }
