// --------------------------------------------
// --------------------------------------------
//
// Special Report Landing
//
// --------------------------------------------
// --------------------------------------------

$sr-content-max-width: 820px;


.sr-landing-content {
  margin: 70px 0 auto;
}


.sr-landing-zone {
  & + & {
    margin-top: 40px;
  }
}


.l-sr-landing-feed {
  max-width: $sr-content-max-width;
  margin: 0 auto;
  padding: 15px 0;
  @include mq($bp-medium-plus) { padding: 30px 0; }
}


.l-sr-landing-dos {
  @include pie-clearfix;
  overflow: hidden;

  // Grid Layout
  @include mq(700px) {
    @include media-grid(2, 70px, '.grid-item');
    @include grid-rule(2, -35px);
    .grid-item {
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative;
      &:nth-child(2n + 3),
      &:nth-child(2n + 4) {
        margin-top: 60px;
        &:before {
          position: absolute;
          content: '';
          top: -45px;
          height: 1px;
          width: 100%;
          background-color: $bdr-thin-color;
        }
      }
    }
  }
}


.sr-landing-grid-img {
  @extend %img-stylized;

  @include mq(550px, max) {
    max-height: 150px;
    overflow: hidden;
  }

  @include mq(550px, 700px) {
    max-width: 200px;
    margin-bottom: 15px;
    float: right;
    margin-left: 25px;
  }
}


.tz-sr-landing-grid {
  @include mq(700px, max) {
    & + & {
      margin-top: 30px;
      padding-top: 30px;
      border-top: $bdr-thin;
    }
  }
}




// --------------------------------------------
// --------------------------------------------
//
// Landing Tease Styles
//
// --------------------------------------------
// --------------------------------------------


.sr-landing-grid-img {
  margin-bottom: 20px;
}


.sr-landing-h {
  @include accent-header;
  display: inline-block;
  position: relative;
  margin-bottom: 1.25em;
  // font-size: 26px;
  font-size: 24px;
  line-height: 1.35;
  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -0.55em;
    height: 0.2em;
    background-color: black;
    width: 25%;
    max-width: 70px;
  }

  // Slightly larger size for the top grid
  .tz-sr-landing-grid & {
    @include mq($bp-medium-plus) {
      font-size: 32px;
    }
  }
}


.sr-landing-h-link {
  color: black;
  text-decoration: none;
}


.sr-landing-desc {
  font-family: $he-sans;
  font-style: italic;
  font-size: 22px;
  line-height: 1.35;
}


.sr-landing-link {
  @include bullet(after);
  white-space: nowrap;
  // font-size: 95%;
  color: $he-secondary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}


.l-pair-sr-feed {
  .art-bd {
    @extend %img-stylized;

    @include mq(700px, max) { display: none; }

    @include mq(800px, max) {
      float: right;
      margin: 0 0 15px 25px;
      max-width: 200px;
    }
  }

  @include mq(800px) { @include pair(220px, 45px, top, right); }
}


.tz-sr-feed-grid {
  & + & {
    margin-top: 30px;
    padding-top: 30px;
    border-top: $bdr-thin;
    @include mq(800px) { margin-top: 45px; padding-top: 45px; }
  }
}
