// --------------------------------------------
// --------------------------------------------
//
// Staff Styles
//
// --------------------------------------------
// --------------------------------------------

$staff-content-max-width: 820px;


.staff-content {
  margin: 70px 0 auto;
}

// .l-staff-inner {
//   max-width: $staff-content-max-width;
//   margin: 0 auto;
//   > * + * { margin-top: 25px; }
// }


.l-pair-staff-page {
  @include pie-clearfix;
  max-width: $staff-content-max-width;
  margin: 0 auto;
  @include mq(600px, max) {
    .art-bd {
      float: right;
      width: 80px;
      margin-left: 25px;
      margin-bottom: 15px;
    }
  }

  @include mq(600px) {
    @include pair(180px, 45px);
  }
}


.staff-items {
  font-family: $he-sans;
  > * + * { margin-top: 25px; padding-top: 25px; }
}

.staff-item {
  & + & { border-top: $bdr-thin; }
}


.staff-title-h {
  font-weight: $font-weight-bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black-70;
}

.staff-name-h {
  margin-top: 5px;
  font-family: $he-accent;
  font-size: 20px;
  @include mq(600px) { font-size: 31px; }
}

.staff-name-h-link {
  text-decoration: none;
  color: black;
  border-bottom: 0.15em solid black;
  @include mq(600px) { border-bottom-width: 0.25em; }
}


.staff-bio-text {
  margin-top: 15px;
  font-size: 17px;
  line-height: 1.25;
  color: $black-80;
  @include mq(600px) { margin-top: 35px; }
}

.staff-bio-link {
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: $he-secondary;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
