{% extends "layout.twig" %}

{% block navbar %} {% endblock %}

{% block body %}
  <ul class="index--nav-items">
    <li class="index--nav-item">
      <a class="index--nav-item-link" href="/article">article</a>
    </li> <!-- /nav-item -->
    <li class="index--nav-item">
      <a class="index--nav-item-link" href="/author">author</a>
    </li> <!-- /nav-item -->
    <li class="index--nav-item">
      <a class="index--nav-item-link" href="/special-report">special-report</a>
    </li> <!-- /nav-item -->
    <li class="index--nav-item">
      <a class="index--nav-item-link" href="/archive">archive</a>
    </li> <!-- /nav-item -->
  </ul> <!-- /nav-items -->
{% endblock %}
