// --------------------------------------------
// --------------------------------------------
//
// Layout
//
// --------------------------------------------
// --------------------------------------------


// Spacers
// --------------------------------------------
$space-grid--quarter:       12.5px;
$space-grid--half:          25px;
$space-grid:                50px;
$space-grid--threequarter:  75px;
$space-grid--double:        100px;


// Variables to control spacing between items and zones
$grid-item-sm:              15px;
$grid-item-med:             25px;
$grid-item-lg:              45px;



// Site Width
// --------------------------------------------
$content-max:         960px;
$content-max--inner:  860px;
$has-margin:          800px;


// Mode Variables
// --------------------------------------------

$bp-zone-has-layout:     700px;
$bp-subzone-has-layout:  500px;
$bp-subzone-ends-layout: 800px;



.content-wrapper {
  margin-top: -17px;
  margin-bottom: 45px;

  @include mq($bp-medium-plus) {
    margin-top: -$space-grid;
  }
}


// .l-content and .l-content--inner are currently used on article pages
.l-content,
.l-article {
  margin: 0 $site-margin;
  max-width: $content-max;

  @include mq($bp-no-content-margin) { margin: 0 auto; }

  // Eliminates double margin for l-content  inside of l-content
  .l-content { margin: 0; }
}


.l-content--inner {
  margin: 0 auto;
}

.l-article--inner {
  margin: 0 auto;
}


// Used for page headers and article page headers
.l-page-hdr {
  max-width: $content-max;

  @include mq($has-margin) {
    margin: 0 $site-margin;
  }

  @include mq($bp-no-content-margin) {
    margin: 0 auto;
  }
}


.grid-item {
  position: relative;
}


// --------------------------------------------
// --------------------------------------------
//
// Layout Modes
//
// --------------------------------------------
// --------------------------------------------
// These are used on the Homepage and within
// recirculation on article pages


// Article Recirculation Zones
// --------------------------------------------

.l-recirc-zone {
  margin-top: $grid-item-sm;
  & + & {
    padding-top: $grid-item-med;
    border-top: $bdr-thin;
  }

  @include mq($bp-zone-has-layout) {
    margin-top: $grid-item-sm;
    & + & {
      padding-top: $grid-item-sm;
    }
  } //mq
}



// Homepage Zones
// --------------------------------------------

.l-hp-zone {
  > * + * {
    margin-top: $grid-item-med;
    padding-top: $grid-item-med;
    border-top: $bdr-thin;

    @include mq($bp-medium, max) {
      margin-top: $grid-item-med;
      padding-top: $grid-item-med;
    }
  }

  & + & {
    border-top: $bdr-thin;
    margin-top: $grid-item-lg;
    padding-top: $grid-item-med;

    @include mq($bp-medium-plus, max) {
      padding-top: $grid-item-med;
      margin-top: $grid-item-med;
    }
  }
}



// Two up
// --------------------------------------------
.l-zone-dos {
  @include pie-clearfix;
  @include mq($bp-zone-has-layout) {
    @include media-grid(2, 25px, '.grid-item');

    .grid-item {
      margin-bottom: $grid-item-med;
      // take away bottom margin for last two items
      &:nth-last-child(-1n+2) { margin-bottom: 0;}
    }
  }

  @include mq($bp-zone-has-layout, max) {
    .grid-item {
      margin-bottom: $grid-item-sm;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

} // l-zone-dos



// Two up with rules
// --------------------------------------------

.l-zone-dos--rule {
  @include pie-clearfix;

  .grid-item + .grid-item {
    @include mq($bp-zone-has-layout, max) {
      margin-top: $grid-item-med;
      padding-top: 20px; // non-uniform value creates appropriate space above hp-list-mod
      margin-bottom: 0;
      border-top: $bdr-thin;
    }

  }
  @include mq($bp-zone-has-layout) {
    display: flex;
    @include media-grid(2, 60px, '.grid-item');
    @include grid-rule(2, -30px);
    .grid-item {
      padding-top: $grid-item-sm;
      padding-bottom: $grid-item-sm;
    }
  }
}



// Two up with variation inside
// --------------------------------------------

// Used in Zone 3 Top inside Right zone

.l-zone-dos--split-inside {
  @include pie-clearfix;
  @include mq($bp-medium) {
    @include media-grid(2, 60px, '.grid-item');
    @include grid-rule(2, -30px);
    display: flex;
    .grid-item {
      padding-top: $grid-item-sm;
      padding-bottom: $grid-item-sm;
      margin-bottom: 0;
    }
  }

  .grid-item {
    @include mq($bp-medium, max) {
      padding-bottom: $grid-item-sm;
      margin-bottom: $grid-item-sm;
      border-bottom: $bdr-thin;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }

}



// Used in Zone 3 Top on Homepage
// --------------------------------------------

.l-zone-dos--split {
  @include pie-clearfix;

  // padding. matches the padding for grid items in
  // l-zone-dos--split-inside
  @include mq($bp-medium) {
    .top-grid-item--left {
      padding-top: $grid-item-sm;
      padding-bottom: $grid-item-sm;
    }
  }

  // size adjustment so art for three across art lines up
  @include mq($bp-medium-plus) {
    .top-grid-item--left {
      .tz-img-mod { width: 95.4452555%; }
    }
  }

  @include mq($bp-large) {
    .top-grid-item--left {
      .tz-img-mod { width: 97.4452555%; }
    }
  }


  // The Zone takes on layout
  @include mq($bp-medium-plus) {
    position: relative;
      &:before {
        position: absolute;
        content: '\0020';
        top: 0;
        bottom: 0;
        left: 32.5%;
        width: 1px;
        background-color: $bdr-thin-color;
      }
   .top-grid-item {
      width: 30%;
      float: left;
    }
    .top-grid-item--left { }
    .top-grid-item--right {
      float: right;
      width: 65%;
    }
  }

  //

  .top-grid-item {
    @include mq($bp-medium-plus, max) {
      @include mq($bp-medium, max) {
        border-bottom: $bdr-thin;
        padding-bottom: $grid-item-sm;
        margin-bottom: $grid-item-sm;
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  // Controlling art size for all items
  .art-bd {
    @include mq($bp-medium, max) {
      max-width: 100px;
      float: right;
      margin-left: 25px;
    }
    @include mq($bp-medium, 700px) {
      max-width: 175px;
    }
  }

  // Controlling art size for the top item
  // when lower portion of zone has layout
  .top-grid-item--left {
    @include mq($bp-medium, $bp-medium-plus) {
     .art-bd {
        width: 45%;
        max-width: 300px;
        float: right;
        margin-left: 25px;
      }
    }

  }

} //l-zone-dos--split


// The top right zone within l-zone-dos--split
.top-grid-item--right {
  @include mq($bp-medium, $bp-medium-plus) {
    margin-top: $grid-item-sm;
    padding-top: $grid-item-sm;
    border-top: $bdr-thin;
  }
}


// The bottom right zone within l-zone-dos--slit
// this is in the stat area in zone 3 on hp
.top-grid-item--right-lower {
  padding-top: $grid-item-sm;
  margin-top: $grid-item-sm;
  border-top: $bdr-thin;
}



// Three up
// --------------------------------------------

.l-zone-tres {
  @include pie-clearfix;
  @include media-grid(3, 25px, '.grid-item');
}



// Three up with rules
// --------------------------------------------

.l-zone-tres--rule {
  @include pie-clearfix;
  overflow: hidden;

  // This for intermediate breakpoints when
  // There is one item which 100%
  // and two items that have layout
  @include mq($bp-medium, $bp-medium-plus) {
    .sub-grid-item {
      position: relative;
      width: 45%;
      float: left;
      &:after {
        position: absolute;
        content: '\0020';
        top: 0;
        bottom: 0;
        right: -11%;
        width: 1px;
        background-color: $bdr-thin-color;
      }
      &:nth-of-type(3) {
        float: right;
        &:after { position: static; width: 0; }
      }
    }
  }

  // All items three up
  @include mq($bp-medium-plus) {
    display: flex;
    @include media-grid(3, 50px, '.grid-item');
    @include grid-rule(3, -25px);
    > .grid-item {
      padding-top: $grid-item-sm;
      padding-bottom: $grid-item-sm;
      margin-bottom: 0;
    }
  }

  // For smaller breakpoints making a bottom border appear
  // when the 2d and 3d items have layout but the first
  // item is still 100% wide
    .grid-item {
      @include mq($bp-medium, max) {
        border-bottom: $bdr-thin;
        padding-bottom: $grid-item-sm;
        margin-bottom: $grid-item-sm;
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      &:first-of-type {
        @include mq($bp-medium, $bp-medium-plus) {
          margin-bottom: $grid-item-sm;
          padding-bottom: $grid-item-sm;
          border-bottom: $bdr-thin;
        }
      }
    }

    // When an image appears in slot 2 or three of this layout zone
    .extra-grid-item {
      background-color: yellow;
      @include mq(700px) {
        width: 66.666%;
        &:after {
          position: static;
        }
      }
      .l-pair-tz-hp-stub {
        @include mq(700px) {
          @include pair(40%, 3%, top);
        }

        .art-bd {
          @include mq($bp-medium, max) {
            float: right;
            max-width: 100px;
          }
          @include mq($bp-medium, 700px) {
            float: right;
            max-width: 175px;
          }
        }
      }
    }

} // l-zone-tres--rule




// Four up
// --------------------------------------------

.l-zone-cuatro {
  @include pie-clearfix;

  @include mq($bp-medium, $bp-large) {
    @include media-grid(2, 25px, '.grid-item');
  }

  @include mq($bp-large) {
    @include media-grid(4, 25px, '.grid-item');
  }
}


.l-zone-cuatro--rule {
  @include pie-clearfix;
  overflow: hidden;

  @include mq($bp-medium, $bp-large) {
    @include media-grid(2, 50px, '.grid-item');
    @include grid-rule(2, -25px);
    > .grid-item {
      position: relative;
      &:nth-child(2n + 3),
      &:nth-child(2n + 4) {
        position: relative;
        margin-top: $grid-item-sm;
        &:before {
          position: absolute;
          content: '';
          top: -$grid-item-sm;
          width: 100%;
          height: 1px;
          background-color: $bdr-thin-color;
        }
      }
    }
  }

  .grid-item {
    @include mq($bp-medium, max) {
      border-bottom: $bdr-thin;
      padding-bottom: $grid-item-sm;
      margin-bottom: $grid-item-sm;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  @include mq($bp-large) {
    display: flex;
    @include media-grid(4, 50px, '.grid-item');
    @include grid-rule(4, -25px);
  }

  // This takes away the rule for the third item
  // when there's an image
  &.no-last-rule {
    .grid-item {
      &:last-of-type {
        &:after {
          position: static;
          width: 0;
        }
      }
    }
  }

}



// Three up with first grid art
// --------------------------------------------

// Used on the Home page in Zone 2 Bottom (hp-zone-bottom)

.l-zone-tres--art {
  overflow: hidden;
  @include pie-clearfix;
  @include mq(700px) {
    display: flex;
    @include media-grid(4, 50px, '.grid-item');
    @include grid-rule(3, -25px);
    .grid-item.extra-grid-item {
      width: 50%;
    }
  }

  // Controlling the first grid item
  .grid-item.extra-grid-item {
    @include mq(700px, max) {
      width: 100%;
      float: none;
      border-bottom: $bdr-thin;
      padding-bottom: $grid-item-sm;
      margin-bottom: $grid-item-sm;
    }

    // Controlling size of art for first grid item
    .l-pair-tz-hp-stub {
      @include mq(600px, max) { @include pair(100px, 25px, top, right); }

      @include mq(600px, 700px) { @include pair(175px, 25px, top, right); }

      @include mq(700px) { @include pair(200px, 25px, top); }
    }

  }

  .grid-item {
    margin-bottom: 0;
    &:last-child {
      &:after {
        position: relative;
        width: 0;
      }
    }
    @include mq(700px, max) {
      border-bottom: $bdr-thin;
      padding-bottom: $grid-item-sm;
      margin-bottom: $grid-item-sm;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    @include mq(700px) {
      padding-top: $grid-item-sm;
      padding-bottom: $grid-item-sm;
    }

  } //grid-item
} // l-zone-tres-art



// Two up with one grid having art
// --------------------------------------------

// Used on the Home page in Zone 2 Top (hp-zone-top)

.l-zone-dos--art {
  overflow: hidden;
  @include pie-clearfix;
  @include mq(700px) {
    display: flex;
    @include grid-rule(2, -25px);

    // Layout of zone
    .grid-item {
      width: 33.333%;
      float: left;
    }
    .grid-item.extra-grid-item {
      width: 66.666%;
      float: right;
      padding-left: 50px;

    }
  }

  // Bottom rules for grid items
  .grid-item {
    @include mq(700px, max) {
      border-bottom: $bdr-thin;
      padding-bottom: $grid-item-sm;
      margin-bottom: $grid-item-sm;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .grid-item.extra-grid-item {
    margin-bottom: 0;
    // Controlling size of art for item with art
    .l-pair-tz-hp-stub {
      @include mq(600px, max) { @include pair(100px, 25px, top, right); }

      @include mq(600px, 700px) { @include pair(175px, 25px, top, right); }

      @include mq(700px) { @include pair(200px, 25px, top); }
    }
  }

}




// Subzones
// --------------------------------------------

.hp-zone--top { }
.hp-zone--mid { }
.hp-zone--bottom { }
.hp-special-tz { }
.hp-feat-mod { }
