// --------------------------------------------
// --------------------------------------------
//
// Bullet
//
// --------------------------------------------
// --------------------------------------------
@mixin bullet($pos: before, $color: inherit) {
  position: relative;
  // white-space: nowrap;
  &:#{$pos} {
    position: absolute;
    display: inline-block;
    content: '→';
    color: $color;
    font-size: 0.85em;
    line-height: 1.6;
  }

  @if $pos == before { &:#{$pos} { left: 0;} }
  @else {
    padding-right: 0.85em;
    &:#{$pos} { right: 0; }
  }

}





// --------------------------------------------
// --------------------------------------------
//
// Media Grid Rules
//
// --------------------------------------------
// --------------------------------------------

$grid-rule-color:         $black-10;
$grid-rule-color--dark:   $black;


@mixin grid-rule( $num, $rule-pos: -20px, $color: $grid-rule-color, $target: '.grid-item' ) {

  #{$target} {
    position: relative;
    &:after {
      position: absolute;
      content: '\0020';
      top: 0;
      bottom: 0;
      right: $rule-pos;
      width: 1px;
      background-color: $color;
    }

    &:nth-child( #{$num}n + #{$num} ) {
      // &:after { background-color: transparent; }
      &:after { position: static; width: 0; }
    }
  }

}


// --------------------------------------------
// --------------------------------------------
//
// Hi Resolution (Cross browser)
//
// --------------------------------------------
// --------------------------------------------

@mixin hidpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
  only screen and (min-resolution: #{round($ratio*96)}dpi),
  only screen and (min-resolution: #{$ratio}dppx) {
    @content;
  }
}


// --------------------------------------------
// --------------------------------------------
//
// Faux Underline
//
// --------------------------------------------
// --------------------------------------------

@mixin faux-underline (
  $color: #000,
  $bg-color: #fff,
  $weight: 1px,
  $offset: 2px,
  $breaking-underlines: true ){

  $weight-hidpi: $weight/2;

  @include background-image(
    linear-gradient(
      bottom,
      transparent,
      transparent $offset,
      $color $offset,
      $color ($offset + $weight),
      transparent ($offset + $weight)
    )
  );

  @include hidpi(1.5) {
    @include background-image(
      linear-gradient(
        bottom,
        transparent,
        transparent $offset,
        $color $offset,
        $color ($offset + $weight-hidpi),
        transparent ($offset + $weight-hidpi)
      )
    );
  }

  @if $breaking-underlines {
    text-shadow: -1px 1px 0 $bg-color,
    1px 1px 0 $bg-color,
    -1px 1px 0 $bg-color,
    1px 1px 0 $bg-color;
    }
} // faux-underline
