// --------------------------------------------
// --------------------------------------------
//
// Extends
//
// --------------------------------------------
// --------------------------------------------

%section-hdr {
  display: inline-block;
  margin-bottom: 1.25em;
  padding-bottom: 0.25em;
  border-bottom: 0.35em solid black;
  font-family: $he-accent;
  font-weight: 900;
  color: $hdr-color;
}

%name-hdr {
  @extend %section-hdr;
  margin-bottom: 0.55em;
  padding-bottom: 0.02em;
  border-bottom-width: 0.15em;
}

%topic-hdr {
  @extend %section-hdr;
  border-bottom-width: 0.2em;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: pink;
}

%item-bullet {
   &:before {
    position: absolute;
    left: 0;
    display: inline-block;
    content: '→';
    color: $he-main;
    color: green;
  }
}

%link-bullet {
  padding-right: 1em;
  &:after {
    position: absolute;
    right: 0;
    display: inline-block;
    content: '→';
    color: inherit;
    color: red;
  }
}

%link-bullet-readmore {
  padding-right: 1em;
  padding-left: .35em;
  &:after {
    padding-left: .35em;
    position: relative;
    right: 0;
    display: inline-block;
    content: '→';
    color: inherit;
    color: aqua;
  }
}


%head-link {
  text-decoration: none;
  color: $head-color;
  &:hover { text-decoration: underline; }
  background-color: aqua;
}

%head-highlight {
  //text-decoration: none;
  font-style: normal;
  background-color: $he-main;
  padding: 0.085em 0.294117647em;
}




// --------------------------------------------
// --------------------------------------------
//
// Article Text
//
// --------------------------------------------
// --------------------------------------------

%article-text {
  color: green;
  font-family: $he-serif;
  font-weight: $font-weight-lt;
  font-size: 17px;
  line-height: 1.705882353;   // 29/17
}




// --------------------------------------------
// --------------------------------------------
//
// Bleeding Container for Images
//
// --------------------------------------------
// --------------------------------------------

%bleeding-container {
  margin-left: -25px;
  margin-right: -25px;
  @include mq(550px) {
    margin: 0;
  }
}




// --------------------------------------------
// --------------------------------------------
//
// Breakpoint Transitions
//
// --------------------------------------------
// --------------------------------------------

%bp-trans { @include trans(0.25s); }



// --------------------------------------------
// --------------------------------------------
//
// Award Bursts
//
// --------------------------------------------
// --------------------------------------------

%burst {
  position: relative;
  background-color: $he-main;
  border-radius: 8%;
  width: 45px;
  height: 45px;
  line-height: 40px;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: inherit;
    z-index: -1;
    border-radius: 8%;
  }
  &:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
  }
  &:after {
    -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
  }
}

%columnist-img {
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $he-secondary;
  overflow: hidden;
}


// --------------------------------------------
// --------------------------------------------
//
// Stylized Images
//
// --------------------------------------------
// --------------------------------------------

%img-stylized {
  position: relative;
  // background-color: $black-60;
  img {
    opacity: 0.45;
    -webkit-filter: grayscale(40%);
       -moz-filter: grayscale(40%);
            filter: grayscale(40%);
  }
  &:before, &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &:before { background-color: rgba(0, 0, 0, 0.6); }
  &:after { background-image: radial-gradient( ellipse closest-side, transparent, rgba(0, 0, 0, 0.6) );  }
}
