// --------------------------------------------
// --------------------------------------------
//
// Fonts
//
// --------------------------------------------
// --------------------------------------------


// Fallback Stack
// --------------------------------------------
$fallback-sans: Helvetica, Arial, sans-serif;
$fallback-serif: Georgia, Times, serif;

$he-sans: national, $fallback-sans;
$he-serif: $fallback-serif;
$he-accent: tiempos, $fallback-serif; // used for the serif accents


// Font weights
// --------------------------------------------
$font-weight-lt:    300;
$font-weight-bold:  700;
$font-weight-black: 900;




// --------------------------------------------
// --------------------------------------------
//
// Color
//
// --------------------------------------------
// --------------------------------------------


// Shades of Gray
// --------------------------------------------
$black-total: #000;           // 0, 0, 0
$black-100:   #2a272b;        // 42, 29, 43
$black-90:    #383437;        // 56, 52, 55
$black-80:    #474245;        // 71, 66, 69
$black-70:    #565153;        // 86, 81, 83
$black-60:    #686265;        // 104, 98, 101
$black-50:    #7a7577;        // 122, 117, 119
$black-40:    #908b8c;        // 144, 139, 140
$black-30:    #a6a1a3;        // 166, 161, 163
$black-20:    #bfbbbc;        // 191, 187, 188
$black-10:    #dad7d7;        // 218, 215, 215
$black:       $black-100;
$white:       #FFFFFF;

$hdr-color: #000000;

$head-color: $black-90;

$light-border:  lighten($black-10, 10%);

$text-color:  $black-100;


// Hechinger Palette
// --------------------------------------------
$he-main:       rgb(255, 207, 49);
$he-secondary:  rgb(0, 174, 239);


// Third Party Palette
// --------------------------------------------
$twitter-blue:  rgb(85, 172, 238);
$facebook-blue: rgb(59, 89, 152);
$instagram-blue: rgb(63, 114, 155);     //#3f729b



// --------------------------------------------
// --------------------------------------------
//
//  Universal Breakpoints
//
// --------------------------------------------
// --------------------------------------------

$small:         450px;  // 28.125em;   // 450px;
$medium:        600px;  // 37.5em;     // 600px
$medium-lg:     800px;
$large:         900px;  // 56.25em;    // 900px
$desktop:       1024px; // 64em;       // 1024px
$x-large:       1100px; // 68.75em;    // 1100px

$no-margin:     71.875em;
$no-content-margin: 1007px;

// To use for media queries with both min-width and max-width.
$one-px:        0.0625;   // 1px




// --------------------------------------------
// --------------------------------------------
//
//  Specific Breakpoints
//
// --------------------------------------------
// --------------------------------------------




// --------------------------------------------
// --------------------------------------------
//
// Borders
//
// --------------------------------------------
// --------------------------------------------

$border-thin:       1px solid pink;
$border-thin--lt:   1px solid pink;


$bdr-thin:       1px solid $black-10;
$bdr-thin--lt:   1px solid $light-border;

$bdr-med--black:     6px solid $black-100;
