// --------------------------------------------
// --------------------------------------------
//
// Upbase imports
//
// --------------------------------------------
// --------------------------------------------

@import "base";





// --------------------------------------------
// --------------------------------------------
//
// Universal Imports
//
// --------------------------------------------
// --------------------------------------------

@import "var-fonts";
@import "variables";
@import "deprecated.scss";
@import "type";
@import "mixins";
@import "placeholders";
@import "layout";
@import "objects";

@import "snippets";
@import "components/footer";





// --------------------------------------------
// --------------------------------------------
//
// Page Imports
//
// --------------------------------------------
// --------------------------------------------

@import "pages/article";
@import "pages/404";
@import "pages/archive";
@import "pages/special-report";
@import "pages/special-reports-landing";
@import "pages/author";
@import "pages/page";
@import "pages/search";
@import "pages/home";
@import "pages/about";
@import "pages/staff";
@import "pages/supporters";




// --------------------------------------------
// --------------------------------------------
//
// Component Imports
//
// --------------------------------------------
// --------------------------------------------

@import "components/nav-bar";
@import "components/tease-full";
@import "components/section-front-header";
@import "components/article-header";
@import "components/article-header-feat";
@import "components/promo";
@import "components/tease-full";
@import "components/article-core-img";
@import "components/article-aside";
@import "components/article-aside-related";
@import "components/article-pull-quote";
@import "components/article-aside-partner";
@import "components/tease-list-latest";
@import "components/tease";









// --------------------------------------------
// --------------------------------------------
//
// Styles
//
// --------------------------------------------
// --------------------------------------------

// This line overwrites Upbase's body setting.
// This sets our base font to our project specific
// sans-serif face.
body { font-family: $he-sans; }




// The Index Page Styles are styles used for the list of templates page
// The style can continue living here for now.
// However they should probably go away at some point

// --------------------------------------------
// --------------------------------------------
//
// Index Page Styles
//
// --------------------------------------------
// --------------------------------------------

.index--nav-items {
  margin: 80px auto;
  padding-left: 50px;
}

.index--nav-item {
  font-family: $he-sans;
  font-size: 45px;
}

.index--nav-item-link {
  text-decoration: none;
  color: black;
  &:hover { text-decoration: underline; }
}




// Hi. Now that you're about to add code to this file,
// the question is why? Why are you adding code here?
// Is there somewhere else you can add the code you're currently
// considering adding here? The purpose of screen.scss is to serve as a manifest
// instructing the sass compiler what and when to pull in files.
// All rules and philosophies are made to be broken,
// but the question remains:
// Why are you adding code to this file?
