<!-- article-aside -->
<div class="article-aside">
  <div class="article-partner">
    <div class="article-partner-logo icon-american_prospect">
      <i class="partner"></i>
    </div> <!-- /article-partner-logo -->
    <p class="article-partner-text">This story also appeared on Upstatement.com</p>
  </div> <!-- /article-partner -->
</div> <!-- /article-aside -->
