{% extends "/templates/components/article-header.twig" %}

{% block column_context_class %}article-hdr-column{% endblock %}

{% block article_column_img %}
  <div class="article-column-img">
    <img src="/wp-content/themes/hechinger/static/img/column_placeholder.png" alt="">
  </div> <!-- /article-column-img -->
{% endblock %}


{% block article_column_title %}
  <p class="article-column-title">Degree of Interest</p>
{% endblock %}


{% block article_byline %}
  <p class="article-byline">Column by
    <a class="article-author" href="#">George Washington</a>
  </p>
{% endblock %}
