{% if post.related_heading or post.post_related_aside %}
<aside class="related-aside {{ contextClass }}">
  {% if post.related_heading %}
    <h4 class="aside-hdr">{{ post.related_heading }}</h4>
  {% endif %}
  <ul class="aside-related-items">
    {% for link in post.post_related_aside %}
    <li class="aside-related-item">
      <h3 class="aside-related-item-hdr">
        <a class="aside-related-item-link" href="{{ link.link }}">{{ link.title }}</a>
      </h3> <!-- /aside-related-item-hdr -->
    </li> <!-- /aside-related-item -->
    {% endfor %}
  </ul> <!-- /aside-related-items -->
</aside> <!-- /aside-related-mod -->
{% endif %}
