<div class="partner-aside-content">
  <h4 class="underwrite-h">Support provided by</h4>
  <p class="underwrite-text">This story is made possible with funding from  <a class="underwrite-link" href="#">Company Name Here</a>, and more underwriting words here.</p>
</div>

