<!-- article hdr feature -->
  <div class="l-page-hdr">
    <div class="article-hdr">
      <div class="article-hdr-inner">

        <div class="article-img-feature">
        {# TODO: hookup featured image #}
          <img src="/wp-content/themes/hechinger/static/img/test.jpg">
        </div> <!-- /article-img-feature -->

        <div class="articleFeat-mod">

          <div class="article-hdr-top">
            <h4 class="article-hdr-topic">
              <a class="article-topic-link" href="#">Topic head</a>
            </h4>

            <div class="article-social-container">
                {% include "/templates/components/article-social.twig" %}
            </div> <!-- /article-social-container-->
          </div> <!-- /article-hdr-top -->

          <div class="article-hdr-h">
            <h1 class="articleFeat-h">{{ post.title }}</h1>
            {% if post.subhead|length %}
              <h2 class="article-sub-h">{{ post.subhead }}</h2>
            {% endif %}
          </div> <!-- /article-hdr-h -->

          <div class="article-hdr-meta">
          <p class="article-byline">by
            <a class="article-author" href="#">{{ author.name }}</a>
          </p>

          <p class="article-date">{{ post.date }}</p>
        </div> <!-- /article-hdr-meta -->

        </div> <!-- /articleFeat-mod -->
      </div> <!-- /article-hdr-inner -->
    </div> <!-- /article-hdr -->
  </div> <!-- /l-page-hdr -->
