<ul class="social-items qs-container {{css_class ? css_class : ' '}}" data-qs-title="{{ post.share_title|escape }}"  data-qs-url="{{ post.link }}">
  <li class="social-item icon-twitter">
    <a target="_blank" class="social-item-link qs-link" data-qs-service="twitter">Twitter<i class="icon"></i></a>
  </li>
  <li class="social-item icon-facebook">
    <a target="_blank" class="social-item-link qs-link" data-qs-service="facebook-share"><i class="icon"></i>Facebook</a>
  </li>
</ul> <!-- /social-items -->
