<h4 class="article-related-h">
  <span class="related-label">Related</span>
  <a class="article-related-text-link" href="#">When it comes to headlines, this is great</a>
</h4> <!-- /article-related-text -->
