<div style="max-width: 550px; margin-left: 25px; border: solid 2px #ffcc33; padding: 10px;">
<img src="https://hechingerreport.org/wp-content/uploads/2018/10/Hech-NewsMatch-newslettertop.jpg" max-width:530px;" />
<em>The Hechinger Report provides in-depth, fact-based, unbiased reporting on education that is free to all readers. But that doesn't mean it's free to produce. Support our mission today and, thanks to NewsMatch, your one time donation will be doubled or your new monthly donation will be multiplied 12 times. 
</em>

<div style="text-align:center; margin-top:10px;"><a style="color:#fff; width:100%; background:#00adef; padding:10px 50px 10px; font-weight:bold; font-size:24px;" href="https://checkout.fundjournalism.org/memberform?amount=15&amp;installmentPeriod=monthly&amp;org_id=hechingerreport&amp;campaign=701f40000012JSE">Join us now.</a></div>

</div>