<!-- article-aside -->
<aside class="partner-aside js-partner-aside">
  <div class="partner-aside-content">
    {% for partner in post.partners %}
      {% if partner.logo %}
        <div class="aside-partner-logo">
          <img class="aside-partner-img" src="{{ TimberImage(partner.logo).src | resize(400) }}" alt="{{ partner.name }}" />
        </div> <!-- /article-partner-logo -->
      {% endif %}
    {% endfor %}

    <p class="aside-partner-text">This story also appeared in {{ post.partner_names }}</p>
  </div> <!-- /partner-aside-content -->

  {# if there's a underwriter #}
  {% include "/templates/components/article-underwrite.twig" %}


</aside> <!-- /article-aside -->
