<div style="max-width: 525px; margin-left: 25px;  padding: 10px;">

<em>The Hechinger Report is a national nonprofit newsroom based in New York City. We report on one topic: education. Sign up for <a href="https://hechingerreport.org/newsletters/">our weekly newsletters</a> to get stories like this delivered directly to your inbox. </em>

</div>