<div class="article-tag-container">
  <h4 class="article-tag-h">In this story</h4>
  <ul class="article-tag-items">
    {% for category in post.categories %}
    <li class"article-tag-item">
      <a class="article-tag-link" href="#">{{ category.name }}</a>
    </li> <!-- /article-tag-item -->
    {% endfor %}
  </ul> <!-- /article-tag-items -->
</div> <!-- /article-tag-container -->
