<aside class="article-quote {{ style_class ? style_class: '' }}">
  <h4 class="article-quote-h js-article-quote-h">{{ pull_quote }}</h4>
  {% if author %}
    <p class="article-quote-attr">{{ author }}</p>
  {% endif %}
  {% if description %}
    <p class="article-quote-desc">{{ description }}</p>
  {% endif %}
</aside> <!-- /article-quote -->
