<div style="max-width: 525px; margin-left: 15px;  padding: 0 10px 0 10px;">

<em>The Hechinger Report is a national nonprofit newsroom that reports on one topic: education. Sign up for <a href="https://hechingerreport.org/newsletters/">our weekly newsletters</a> to get stories like this delivered directly to your inbox. </em>

</div>