<div style="max-width: 550px; margin-left: 25px; border: solid 2px #ffcc33; padding: 10px;">

The Hechinger Report provides in-depth, fact-based, unbiased reporting on education that is free to all readers. But that doesn't mean it's free to produce. Our work keeps educators and the public informed about pressing issues at schools and on campuses throughout the country. We tell the whole story, even when the details are inconvenient. Help us keep doing that.

<p style="text-align: center; font-size: 24px; font-style: normal; font-weight: bold;"><a href="https://checkout.fundjournalism.org/memberform?amount=15&installmentPeriod=monthly&org_id=hechingerreport&campaign=701f4000000dsvy">Join us today.</a></p>

</div>