{% if post.related_heading or post.post_related_aside %}
<div class="article-related-mod">
  {% if post.related_heading %}
    <h4 class="article-related-hdr">{{ post.related_heading }}</h4>
  {% endif %}
  <ul class="article-related-items">
    {% for link in post.post_related_aside %}
    <li class="article-related-item">
      <h3 class="article-related-head">
        <a class="article-related-link" href="{{ link.link }}">{{ link.title }}</a>
      </h3> <!-- /article-related-head -->
    </li> <!-- /article-related-item -->
    {% endfor %}
  </ul> <!-- /article-related-items -->
</div> <!-- /article-related-mod -->
{% endif %}