<div style="max-width: 550px; margin-left: 25px; border: solid 2px #ffcc33; padding: 10px;">

The Hechinger Report is a national nonprofit newsroom based in New York City. We report on one topic: education. Sign up for <a href="https://hechingerreport.org/newsletters/">our weekly newsletters</a> to get stories like this delivered directly to your inbox. 

</div>