<!-- article-aside -->
<div class="partner-aside">
  <div class="aside-partner-logo">
    <img class="aside-partner-img" src="{{post.partner.logo }}" alt="{{ post.partner.name }}" />
  </div> <!-- /article-partner-logo -->
  <p class="aside-partner-text">This story also appeared in {{ post.partner.name }}</p>
</div> <!-- /article-aside -->

