<!-- article-aside -->
<div class="article-aside">
  <div class="article-partner">
    <div class="article-partner-logo icon-american_prospect" style="background-image: url({{ post.partner.logo }});" alt="{{post.partner.name}} logo">
      <i class="partner"></i>
    </div> <!-- /article-partner-logo -->
    {{ post.logo }}
    <p class="article-partner-text">This story also appeared in {{ post.partner.name }}</p>
  </div> <!-- /article-partner -->
</div> <!-- /article-aside -->

