<aside class="article-ad js-ad-aside">
  <p class="aside-ad-hdr">Advertisement</p>
  <div class="article-ad-content">
      <img src="/wp-content/themes/hechinger/static/img/300x250_uap.gif" alt="">
  </div> <!-- /article-ad-content -->
</aside> <!-- /article-aside -->


