<div class="article-related-mod">
  <h4 class="article-related-hdr">{{ post.related_heading }}</h4>
  <ul class="article-related-items">
    {% for link in post.post_related_aside %}
    <li class="article-related-item">
      <h3 class="article-related-head">
        <a class="article-related-link" href="{{ link.url }}">{{ link.heading }}</a>
      </h3> <!-- /article-related-head -->
    </li> <!-- /article-related-item -->
    {% endfor %}
  </ul> <!-- /article-related-items -->
</div> <!-- /article-related-mod -->
