<div class="l-page-hdr">
  <div class="article-hdr">
    <div class="article-hdr-inner">
      <div class="article-hdr-top">
        <h4 class="article-hdr-topic">
          <a class="article-topic-link" href="#">About</a>
        </h4>

        <div class="article-social-container">
            {% include "/templates/components/article-social.twig" %}
        </div> <!-- /article-social-container-->
      </div> <!-- /article-hdr-top -->

      <div class="article-hdr-h">
        <h1 class="article-h">Awards</h1>
        <h2 class="article-sub-h">We cover the issues we cover because we believe in them, but our reporting is often recognized by our peers. We appreciate it.</h2>
      </div> <!-- /article-hdr-middle -->
    </div> <!-- /article-hdr-inner -->
  </div> <!-- /article-hdr -->
</div> <!-- /l-article -->
