<!-- Newsletter Signup -->
<div class="newsletter-block">
    <div class="newsletter-border-top"></div>
    <p class="newsletter-hdr">
      The Hechinger Newsletter
    </p>
    <p class="newsletter-hdr-stacked">
      The<br>Hechinger<br>Newsletter
    </p>
    <div class="newsletter-slash">
      <img src="/wp-content/themes/hechinger/static/img/icons/icn-teaser-slash_black-296-310.svg">
    </div>
    <div class="newsletter-text">
      <span class="newsletter-text-bold">
        Never Miss a Story
      </span>
        Stay in the know with weekly updates from The Hechinger Report

    <div class="newsletter-email-form">
      <p class="newsletter-prompt">
        Your email address
      </p>
      <a class="newsletter-signup" href="#">
        SIGN UP
      </a>
    </div> <!-- .newsletter-email-form -->
    </div> <!-- .newsletter-text -->
    <div class="newsletter-border-bottom"></div>
  </div> <!-- .newsletter-block -->

<footer class="site-ftr">
  <div class="ftr-top">
  <div class="footer-page">
    <!-- Logo/social block -->
    <div class="footer-top-block">
      <div class="footer-logo-hech">
        <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-logo-599-73.svg">
      </div>
      <div class="footer-social-container">
        <div class="footer-social-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-twitter-59-60.svg">
          </a>
        </div>
        <div class="footer-social-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-facebook-59-60.svg">
          </a>
        </div>
        <div class="footer-social-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-instagram-59-60.svg">
          </a>
        </div>
        <div class="footer-social-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-rss-59-60.svg">
          </a>
        </div>
      </div> <!-- .footer-social-container -->
    </div> <!-- .footer-top-block -->

   <!-- About -->
    <div class="l-footer-info">
    <div class="grid-item">
      <h4 class="footer-hdr">About Us</h4>
        <p class="footer-text">We cover inequality and innovation in education with in-depth journalism that uses research, data and stories from classrooms and campuses to show the public how education can be improved and why it matters.</p>
      <a class="footer-link-black" href="#">
        Learn more about us
        <span class="footer-arrow">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-arrow-black_bold-36-35.svg">
        </span>
      </a>
    </div> <!-- .footer-about-block -->

   <!-- Media Partners -->
    <div class="grid-item">
      <h4 class="footer-hdr">Media Partners</h4>
        <p class="footer-text">Our collaborations with news organizations across the nation enable us to reach even wider audiences.</p>
        <div class="l-footer-partners">
          <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-NBC_News-300-100.svg">
          </div> <!-- /media-block -->

           <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-Time-300-100.svg">
          </div> <!-- /media-block -->

           <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-The_Atlantic-300-100.svg">
          </div> <!-- /media-block -->

           <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-US_News_and_World_Report-300-100.svg">
          </div> <!-- /media-block -->
        </div> <!-- /l-footer-partner -->

      <a class="footer-link-black" href="#">
        All Media Partners
        <span class="footer-arrow">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-arrow-black_bold-36-35.svg">
        </span>
      </a>
    </div> <!-- .footer-partner-block -->
  </div> <!-- .footer-page -->
  </div> <!-- /ftr-top -->

  <div class="ftr-bottom">
   <!-- Site Nav & Copyright -->
  <div class="site-nav-copyright">
    <nav class="footer-site-nav">
      <ul class="footer-nav-items">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">ABOUT</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">SPECIAL REPORTS</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">NEWS</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">K-12</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">HIGHER ED</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">CONTACT</a>
        </li>

        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">STAFF</a>
        </li>
      </ul> <!-- /footer-nav-items -->
    </nav> <!-- .footer-site-nav -->

    <p class="footer-copyright-msg">
      Copyright © 2010-2014 by Teachers College at Columbia University. All rights reserved.
    </p>
  </div> <!-- .site-nav-copyright -->
  </div> <!-- /ftr-bottom -->

</footer> <!-- /site-ftr -->


