{% block above_footer %}
<!-- Newsletter Signup -->
<div class="newsletter-block">
    <div class="newsletter-border-top"></div>
    <p class="newsletter-hdr">
      The Hechinger Newsletter
    </p>
    <p class="newsletter-hdr-stacked">
      The<br>Hechinger<br>Newsletter
    </p>
    <div class="newsletter-slash">
      <img src="/wp-content/themes/hechinger/static/img/icons/icn-teaser-slash_black-296-310.svg">
    </div>
    <div class="newsletter-text">
      <span class="newsletter-text-bold">
        Never Miss a Story
      </span>
        Stay in the know with weekly updates from The Hechinger Report

    <div class="newsletter-email-form">
      <p class="newsletter-prompt">
        Your email address
      </p>
      <a class="newsletter-signup" href="#">
        SIGN UP
      </a>
    </div> <!-- .newsletter-email-form -->
    </div> <!-- .newsletter-text -->
    <div class="newsletter-border-bottom"></div>
  </div> <!-- .newsletter-block -->

{% endblock %} {# above_footer #}

<footer class="site-ftr">
  <div class="l-content">
  <div class="ftr-top">

    <!-- Logo/social block -->
    <div class="ftr-logo-mod">
      <div class="ftr-logo-container">
        <a href="/"><img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-logo-599-73.svg"></a>
      </div> <!-- /footer-logo-container -->

      <div class="ftr-social-container">
        <ul class="social-items social--ftr">
          <li class="social-item icon-twitter-ftr">
            <a target="_blank" class="social-item-link" href="#">Twitter<i class="icon"></i></a>
          </li> <!-- social-items social--footer -->
          <li class="social-item icon-facebook-ftr">
            <a target="_blank" class="social-item-link" href="#"><i class="icon"></i>Facebook</a>
          </li> <!-- social-items social--ftr -->
           <li class="social-item icon-instagram-ftr">
            <a target="_blank" class="social-item-link" href="#"><i class="icon"></i>Instagram</a>
          </li> <!-- social-items social--ftr -->
           <li class="social-item icon-rss-ftr">
            <a target="_blank" class="social-item-link" href="#"><i class="icon"></i>Rss</a>
          </li> <!-- social-items social--ftr -->
        </ul> <!-- /social-items -->
      </div> <!-- /ftr-social-container -->
    </div> <!-- /ftr-logo-mod -->

   <!-- About -->
    <div class="l-ftr-info">
    <div class="grid-item">
      <h4 class="ftr-hdr">About Us</h4>
        <p class="ftr-text">We cover inequality and innovation in education with in-depth journalism that uses research, data and stories from classrooms and campuses to show the public how education can be improved and why it matters.</p>
      <a class="ftr-link-black" href="#">
        Learn more about us
        <span class="ftr-arrow">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-arrow-black_bold-36-35.svg">
        </span>
      </a>
    </div> <!-- .ftr-about-block -->

   <!-- Media Partners -->
    <div class="grid-item">
      <h4 class="ftr-hdr">Media Partners</h4>
        <p class="ftr-text">Our collaborations with news organizations across the nation enable us to reach even wider audiences.</p>
        <div class="l-ftr-partners">
          <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-NBC_News-300-100.svg">
          </div> <!-- /media-block -->

           <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-Time-300-100.svg">
          </div> <!-- /media-block -->

           <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-The_Atlantic-300-100.svg">
          </div> <!-- /media-block -->

           <div class="media-block">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-US_News_and_World_Report-300-100.svg">
          </div> <!-- /media-block -->
        </div> <!-- /l-ftr-partner -->

      <a class="ftr-link-black" href="#">
        All Media Partners
        <span class="ftr-arrow">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-arrow-black_bold-36-35.svg">
        </span>
      </a>
    </div> <!-- .ftr-partner-block -->
  </div> <!-- .ftr-page -->
  </div> <!-- /l-content -->
</div> <!-- /ftr-top -->

  <div class="ftr-bottom">
   <!-- Site Nav & Copyright -->
  <div class="site-nav-copyright">
    <nav class="ftr-site-nav">
      <ul class="ftr-nav-items">
        {% for i in 1..6 %}
          <li class="ftr-nav-item">
            <a class="ftr-nav-link" href="#">ftr Link</a>
          </li>
        {% endfor %}
      </ul> <!-- /ftr-nav-items -->
    </nav> <!-- .ftr-site-nav -->

    <p class="ftr-copyright-msg">
      Copyright © 2010-2014 by Teachers College at Columbia University. All rights reserved.
    </p>
  </div> <!-- .site-nav-copyright -->
  </div> <!-- /ftr-bottom -->

</footer> <!-- /site-ftr -->


