{% block body %}{# page content goes here  #}
 <!-- Newsletter Signup -->
<div class="footer-page">
  <div class="newsletter-block">
    <div class="newsletter-border-top"></div>
    <p class="newsletter-hdr">
      The Hechinger Newsletter
    </p>
    <p class="newsletter-hdr-stacked">
      The<br>Hechinger<br>Newsletter
    </p>
    <div class="newsletter-slash">
      <img src="/wp-content/themes/hechinger/static/img/icons/icn-teaser-slash_black-296-310.svg">
    </div>
    <div class="newsletter-text">
      <span class="newsletter-text-bold">
        Never Miss a Story
      </span>
        Stay in the know with weekly updates from The Hechinger Report

    <div class="newsletter-email-form">
      <p class="newsletter-prompt">
        Your email address
      </p>
      <a class="newsletter-signup" href="#">
        SIGN UP
      </a>
    </div> <!-- .newsletter-email-form -->
    </div> <!-- .newsletter-text -->
    <div class="newsletter-border-bottom"></div>
  </div> <!-- .newsletter-block -->

  <!-- Logo/social block -->
  <div class="footer-top-block">
    <div class="footer-logo-hech">
      <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-logo-599-73.svg">
    </div>
    <div class="footer-social-container">
      <div class="footer-social-icons">
        <a href="#">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-twitter-59-60.svg">
        </a>
      </div>
      <div class="footer-social-icons">
        <a href="#">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-facebook-59-60.svg">
        </a>
      </div>
      <div class="footer-social-icons">
        <a href="#">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-instagram-59-60.svg">
        </a>
      </div>
      <div class="footer-social-icons">
        <a href="#">
          <img src="/wp-content/themes/hechinger/static/img/icons/icn-footer-rss-59-60.svg">
        </a>
      </div>
    </div> <!-- .footer-social-container -->
  </div> <!-- .footer-top-block -->

 <!-- About -->
  <div class="footer-about-block">
    <span class="footer-hdr">
      About Us
    </span>
      <br>
      We cover inequality and innovation in
      education with in-depth journalism that uses research, data and stories from classrooms and campuses to show the public how education can be improved and why it matters.
      <br>
    <a class="footer-link-black" href="#">
      Learn more about us
      <span class="footer-arrow">
        <img src="/wp-content/themes/hechinger/static/img/icons/icn-arrow-black_bold-36-35.svg">
      </span>
    </a>
  </div> <!-- .footer-about-block -->

 <!-- Media Partners -->
  <div class="footer-partner-block">
    <span class="footer-hdr">Media Partners</span>
      <br>
      Our collaborations with news organizations across the nation enable us to reach even
      wider audiences.
      <br>
    <div class="footer-partner-logo-container">
      <div class="partner-icons-left">
        <div class="footer-partner-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-NBC_News-300-100.svg">
          </a>
        </div>
        <div class="footer-partner-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-Time-300-100.svg">
          </a>
        </div>
      </div>
      <div class="partner-icons-right">
        <div class="footer-partner-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-The_Atlantic-300-100.svg">
          </a>
        </div>
        <div class="footer-partner-icons">
          <a href="#">
            <img src="/wp-content/themes/hechinger/static/img/partners/icn-partner-US_News_and_World_Report-300-100.svg">
          </a>
        </div>
      </div>
    </div>
    <a class="footer-link-black" href="#">
      All Media Partners
      <span class="footer-arrow">
        <img src="/wp-content/themes/hechinger/static/img/icons/icn-arrow-black_bold-36-35.svg">
      </span>
    </a>
  </div> <!-- .footer-partner-block -->
</div> <!-- .footer-page -->

<div class="footer-block-yellow"></div> <!-- yellow background -->

 <!-- Site Nav & Copyright -->
<div class="site-nav-copyright">
  <div class="footer-site-nav">
      <a class="footer-link-gray" href="#">
         ABOUT
      </a>
      <a class="footer-link-gray" href="#">
         SPECIAL REPORTS
      </a>
      <a class="footer-link-gray" href="#">
         NEWS
      </a>
      <a class="footer-link-gray" href="#">
         K-12
      </a>
      <a class="footer-link-gray" href="#">
         HIGHER ED
      </a>
      <a class="footer-link-gray" href="#">
         CONTACT
      </a>
      <a  class="footer-link-gray" href="#">
        STAFF
      </a>
  </div> <!-- .footer-site-nav -->

  <p class="footer-copyright-msg">
    Copyright © 2010-2014 by Teachers College at Columbia University. All rights reserved.
  </p>
</div> <!-- .site-nav-copyright -->

<div class="footer-bar-black"></div> <!-- black bottom bar -->

{% endblock %}