<div class="promo-mod promo-content-bdr">
  <div class="promo-bdr promo-bdr--top"></div>
  <div class="promo-signup-inner">
    <div class="promo-hdr">
      <h4 class="promo-h">The <br>Hechinger <br>Newsletter</h4>
    </div> <!-- /promo-hdr -->

    <div class="promo-main">
      <p class="promo-text"><span class="promo-text--bold">Never Miss a Story</span>
        Stay in the know with weekly updates from The Hechinger Report</p>

      <div class="promo-form">
      [gravityform id="4" title="false" description="false" ajax="true"]

      </div> <!-- /promo-form -->

    </div> <!-- /promo-main -->
  </div> <!-- /promo-inner -->
  <div class="promo-bdr promo-bdr--bottom"></div>
</div> <!-- /promo-mod -->
