<div class="promo-mod promo-content-bdr--reverse" style="background-image: url({{ report.get_image('bw_rect').get_url|default("/wp-content/themes/hechinger/static/img/house-ad/img-special_report_house_ad-default-1002-236.jpg") }})">
  <div class="promo-overlay">
    <a class="promo-link" href="#">

      <div class="promo-inner">
        <div class="promo-hdr">
          <h4 class="promo-h promo-h--reverse">California</h4>
        </div> <!-- /promo-hdr-white -->

        <div class="promo-main">
          <p class="promo-text--reverse">
            <span class="promo-text--bold">Explore our deep dive in California,</span>a state with large achievement gaps and even larger budget woes — but also exciting innovations in education reform
          </p>
        </div> <!-- /promo-main -->

      </div> <!-- /promo-inner -->
    </a> <!-- /promo-link -->
  </div> <!-- /promo-overlay -->
</div> <!-- /promo-mod -->
