<div class="promo-mod promo-content-bdr">
  <div class="promo-bdr promo-bdr--top"></div>
  <div class="promo-signup-inner">
    <div class="promo-hdr">
      <h4 class="promo-h">The <br>Hechinger <br>Newsletter</h4>
    </div> <!-- /promo-hdr -->

    <div class="promo-main">
      <p class="promo-text"><span class="promo-text--bold">Never Miss a Story</span>
        Stay in the know with weekly updates from The Hechinger Report</p>

      <div class="promo-form">
        <form class="promo-form-block" action="http://hechingerreport.us2.list-manage.com/subscribe/post?u=66c306eebb323868c3ce353c1&amp;id=a4f3e0748b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <label class="promo-label" for="mce-EMAIL">Email address</label>
          <input class="promo-input" type="email" id="mce-EMAIL" name="EMAIL" placeholder="Enter your email" required>
          <input type="submit" value="Sign Up" name="subscribe" id="mc-embeded-subscribe" class="promo-btn promo-form-btn">
        </form> <!-- /form-block -->
      </div> <!-- /promo-form -->

    </div> <!-- /promo-main -->
  </div> <!-- /promo-inner -->
  <div class="promo-bdr promo-bdr--bottom"></div>
</div> <!-- /promo-mod -->
