<!-- <div class="promo-img">
  <img src="wp-content/themes/hechinger/static/img/donate promo/Promo_Cloudy_1.jpg" />
</div> -->
<div class="promo-mod" style="background-image: url({{ report.get_image('bw_rect').get_url|default("/wp-content/themes/hechinger/static/img/special-reports/Promo_Cloudy_1.jpg") }})">
  <div class="promo-inner">
    <div class="promo-hdr-white">
      <p class="promo-h-white">Support <br>Our <br>Mission</p>
    </div> <!-- /promo-hdr -->

    <div class="promo-main">
      <p class="promo-text-white"><span class="promo-text--bold">Thanks to your support,</span> we provide the best education coverage in the country.</p>
      <a class="promo-btn-donate" href="#">Donate</a>
    </div> <!-- /promo-main -->
  </div> <!-- /promo-inner -->
</div> <!-- /promo-mod -->
