<div class="promo-mod">
  <div class="promo-bdr promo-bdr--top"></div>
  <div class="promo-inner">
    <div class="promo-hdr">
      <p class="promo-h">The <br>Hechinger <br>Newsletter</p>
    </div> <!-- /promo-hdr -->

    <div class="promo-main">
      <p class="promo-text"><span class="promo-text--bold">Never Miss a Story</span>
        Stay in the know with weekly updates from The Hechinger Report</p>

      <div class="promo-form">
        <form class="form-block" action="" method="post" id="subscribe-form" name="subscribe-form" target="_blank" novalidate="">
          <label class="promo-label" for="email_input">Email address</label>
              <input class="promo-input" type="email" id="email_input" name="EMAIL" placeholder="Enter your email">
            <input type="submit" value="Subscribe" name="subscribe" id="subscribe" class="promo-btn">
        </form>
      </div> <!-- /promo-form -->
    </div> <!-- /promo-main -->
  </div> <!-- /promo-inner -->
  <div class="promo-bdr promo-bdr--bottom"></div>
</div> <!-- /promo-mod -->
