<div class="promo-mod promo-donate promo-content-bdr--reverse">
  <div class="promo-inner">
    <div class="promo-hdr">
      <h4 class="promo-h promo-h--reverse">Support <br>Our <br>Mission</h4>
    </div> <!-- /promo-hdr -->

    <div class="promo-main">
      <div class="promo-text--reverse">
        <p>
          <span class="promo-text--bold">Hi. Thanks to your support,</span> we provide the best education coverage in the country.
        </p>
      </div>
      <a class="promo-btn-donate" href="/donate">Donate</a>
    </div> <!-- /promo-main -->
  </div> <!-- /promo-inner -->
</div> <!-- /promo-mod-donate -->
