<div class="section-front-banner" style="background-image: url({{ site.theme.path }}/static/img/img-special_report-Mississippi-1160-276.jpg)"></div>

<header class="l-section-front-hdr-wrap l-page-hdr">
  <h1 class="archive-hdr">{{section_front_title}}</h1>
</header>

<div class="section-front-summary-wrap">
  <p class="section-front-summary-text">Brief explanation about why we cover what we cover and why it is that we focus more heavily on Common Core, Higher Ed, Blended Learning, and a few other specific subject areas. <a class="section-front-summary-link" href="#">See All Our Reports</a></p>
</div> <!-- /special-report-summary-wrap -->
