{% extends "components/tease-layout.twig" %}
{% block tease_img %}
  {% if post.lead_image.src %}
    <div class="tz-img-mod art-bd">
      <a href="{{ post.link }}">
        <img src="{{ post.lead_image.src|resize(1500, 900) }}" alt="{{ post.lead_image.alt }}">
      </a>
    </div> <!-- /tz-img-mod -->
  {% endif %}
{% endblock tease_img %}
