  <div class="special-report-tz-mod">
    <div class="special-report-tz-overlay">
      <div class="special-report-tz-content">
        <a class="special-report-tz-hdr-container" href="#">
          <h4 class="special-report-tz-hdr">California</h4>
        </a>
        <ul class="special-report-tz-items">
          {% for i in 1..3 %}
            <li class="special-report-tz-item">
              <a class="special-report-tz-link" href="#">Hi. This is a headline in a special report tease.</a>
            </li> <!-- /special-report-tz-item -->
         {% endfor %}
        </ul> <!-- /special-report-tz-items -->
      </div> <!-- /special-report-tz-content -->
    </div> <!-- special-report-tz-overlay -->
  </div> <!-- /special-report-tz-mod -->

