<div class="tz-full-mod">
  <div class="tz-content-wrap l-pair-full">
    <div class="art-bd">
    <figure class="tz-full-img-wrap">
      <img class="tz-full-img" src="{{ site.theme.path }}/static/img/test.jpg" alt="image title goes here" />
    </figure>
  </div>
  <div class="txt-bd">
    <h1 class="tz-full-title">This is the Headline of the Article</h1>
    <p class="tz-full-text">Sarah Garland is executive editor. She has written for The New York Times, Newsweek International, Newsday.</p>
    <div class="tz-full--byline-wrap">
      <h2 class="tz-full--byline-topic"><a class="tz--byline-topic-link" href="">Common Core</a></h2>
      <h3 class="tz-full--byline-name">by <a class="tz--byline-author-link" href="">Author Name </a><span class="tz-full--byline-date"> &ndash; Oct. 20, 2013</span></h3>
    </div>
  </div>
  </div>
</div>
