<div class="author-page-tz">
  <h1 class="author-page-tz--title">Title of the Article</h1>
  <p class="author-page-tz--txt">Sarah Garland is executive editor. She has written for The New York Times, Newsweek International, Newsday, The New York Sun, The Atlantic, The Washington Post and The Philadelphia Inquirer.</p>
  <div class="author-page-tz--byline-wrap">
    <h2 class="author-page-tz--byline-topic">Common Core</h2>
    <h3 class="author-page-tz--byline-name">by Author Name<span class="author-page-tz--byline-date"> &ndash; Oct. 20, 2013</span></h3>
  </div>
</div>
